﻿
<div ng-controller="CustomerController">
<br/>
<form class="form-horizontal">
  <div class="form-group">
    <label for="url" class="col-sm-2 control-label">Customer</label>
  </div>
  <div class="form-group">
    <label for="Token" class="col-sm-2 control-label">Token</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Token" ng-model="headers" readonly placeholder="token">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" ng-click="showBeers()" class="btn btn-default">Call</button>
    </div>
  </div>
    <div class="form-group">
	<label class="col-sm-2 control-label">({{beers.length}}) results</label>
    <div class="col-sm-offset-2 col-sm-10">	
		<table class="table">
			<thead>
				<tr class="row">
					<td><b>Name</b></td>
					<td><b>Category</b></td>
					<td><b>Description</b></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			<tr class="row" ng-repeat="beer in beers">
				<td class="td">{{beer.Name}}</td>
				<td class="td">{{beer.Category}}</td>
				<td class="td">{{beer.Description}}</td>
				<td class="td">
					<button class="btn-default" ng-show="beer.CustomerPassports.length == 0" ng-click="addPassport(beer.Id)">Add Passport</button>
					<label ng-show="beer.CustomerPassports.length > 0">Consumed</label>
				</td>
				
			</tr>
			</tbody>
		</table>
    </div>
  </div>
  
</form>

<script>

var myApp = angular.module('myApp',[]);
	myApp.controller('CustomerController', ['$scope','$http', function($scope,$http) {
		$scope.beers = [];
		var tokenKey = 'authorizationData';
		var token= localStorage.getItem(tokenKey);        
        var headers = {};
        if (token) {
            headers.Authorization = 'Bearer ' + token;
        }
		$scope.headers = headers.Authorization;
		
		$scope.showBeers=function(){
			$.ajax({
                type: "GET",
                url: '/api/beer/GetCustomerBeers',
                headers: headers,
                async: false,
                success: function (result) {
                   $scope.beers = result;
                },
                error: function () { },
                beforeSend: function () { },
                complete: function () { }
            });
		}
		
		$scope.addPassport=function(id){
			$.ajax({
                type: "POST",
                url: '/api/beer/AddPassport',
				 headers: headers,
				data:{BeerId:id},
                async: false,
                success: function (result) {
                   alert('Added to your passport');
                },
                error: function () { },
                beforeSend: function () { },
                complete: function () { }
            });
		}
	}]);
</script>