<section class="content-header" style="z-index:10000">
    <ol class="breadcrumb">
        <li><a href="#/dashboard">Home</a></li>
        <li><a href="#/Users">Users</a></li>
        <li class="active">user</li>
    </ol>
</section>
<div class="box-header with-border">
    <h3 class="box-title">{{vm.formTitle}}</h3>
</div>
<div class="box box-info">
    <form class="form-horizontal" name="itemForm">
        <div class="box-header">
            <button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveUser()">
                <i class="fa fa-save"></i> Save
            </button>
            <button onclick="window.location.href='#/users'" class="btn btn-default" title="User">Close</button>
            <button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.user.Id)">
                <i class="fa fa-times">
                </i> Delete
            </button>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Detail user
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.FirstName.$invalid && !itemForm.FirstName.$pristine }">
                                        <label for="FirstName" class="col-sm-3 control-label">First Name<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="vm.user.FirstName" class="form-control" name="FirstName" placeholder="First Name" required>
                                            <span class="error-message" ng-show="submitted && itemForm.FirstName.$error.required"> This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.LastName.$invalid && !itemForm.FirstName.$pristine }">
                                        <label for="LastName" class="col-sm-3 control-label">Last Name<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="vm.user.LastName" class="form-control" name="LastName" placeholder="Last Name" required>
                                            <span class="error-message" ng-show="submitted && itemForm.LastName.$error.required"> This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.Address.$invalid && !itemForm.Address.$pristine }">
                                        <label for="Address" class="col-sm-3 control-label">Address<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="vm.user.Address" class="form-control" name="Address" placeholder="Address" required>
                                            <span class="error-message" ng-show="submitted && itemForm.Address.$error.required"> This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.Email.$invalid && !itemForm.Email.$pristine }">
                                        <label for="Email" class="col-sm-3 control-label">Email<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="vm.user.Email" class="form-control" name="name" placeholder="Email" required>
                                            <span class="error-message" ng-show="submitted && itemForm.Email.$error.required"> This field is required</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.PhoneNumber.$invalid && !itemForm.PhoneNumber.$pristine }">
                                        <label for="PhoneNumber" class="col-sm-3 control-label">PhoneNumber<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="vm.user.PhoneNumber" class="form-control" name="name" placeholder="PhoneNumber" required>
                                            <span class="error-message" ng-show="submitted && itemForm.PhoneNumber.$error.required"> This field is required</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.AccessFailedCount.$invalid && !itemForm.AccessFailedCount.$pristine }">
                                        <label for="name" class="col-sm-3  control-label">AccessFailedCount<font color="#FF0000">*</font></label>
                                        <div class="col-md-9">
                                            <input type="number" name="AccessFailedCount" class="form-control" data-ng-model="vm.user.AccessFailedCount" required />
                                            <span class="error-message" ng-show="submitted && itemForm.AccessFailedCount.$error.required"> This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.UserName.$invalid && !itemForm.UserName.$pristine }">
                                        <label for="UserName" class="col-sm-3 control-label">UserName<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="vm.user.UserName" class="form-control" name="name" placeholder="UserName" required>
                                            <span class="error-message" ng-show="submitted && itemForm.UserName.$error.required"> This field is required</span>
                                        </div>
                                    </div>
                                    <div ng-if="vm.user.$new" class="form-group" ng-class="{ 'has-error' : itemForm.Password.$invalid && !itemForm.Password.$pristine }">
                                        <label for="Password" class="col-sm-3 control-label">Password<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <input type="password" ng-model="vm.user.Password" class="form-control" name="Password" placeholder="Password" required>
                                            <span class="error-message" ng-show="submitted && itemForm.Password.$error.required"> This field is required</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Roles</label>
                                <!--<label ng-repeat="r in vm.roles">
                                    <input type="checkbox" checklist-model="vm.assignedRles" checklist-value="r.Id"> {{r.Name}}
                                </label>-->
                                <label ng-repeat="r in vm.roles">
                                    <input type="checkbox" checklist-model="vm.user.Roles" checklist-value="r.Name"> {{r.Name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveUser()">
                <i class="fa fa-save"></i> Save
            </button>
            <button onclick="window.location.href='#/users'" class="btn btn-default" title="User">Close</button>
            <button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.user.Id)">
                <i class=" fa fa-times">
                </i> Delete
            </button>
        </div>
    </form>
</div>
