
<section class="content-header" style="z-index:10000">
	<ol class="breadcrumb">
		<li><a href="#/dashboard">Home</a></li>
		<li class="active">beerCategory</li>
	</ol>
</section>

<a href="#/beercategory/0" class="btn btn-primary">
    <i class="fa fa-plus"></i> Create New
</a>

<div class="box">
    <div class="box-header">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter keyword" data-ng-model="vm.searchText" >
            </div>
                <button class="btn btn-default" ng-click="vm.searchTextChanged()">
                    <i class="fa fa-search"></i> Search
                </button>

        </div>
    </div>
</div>

    <div class="box-body">
        <table ng-table="vm.tableParams" class="table table-bordered table-striped table-condensed">
        <tr ng-repeat="item in $data">
			<!--[@NgTableData]-->
            <td data-title="'Name'">{{item.Name}}</td>

            <td ng-if="!item.$edit" width="5%" align="center" valign="middle" data-title="'Status'">
                <i class="fa fa-check" ng-show="item.Status"></i>
                <i class="fa fa-close" ng-show="!item.Status"></i>
            </td>

			<td width="10%" align="center" valign="middle">
                <button class="btn btn-default fa fa-edit" title="Update" ng-click="vm.edit(item.Id)"></button>
                <button class="btn btn-default fa fa-trash" title="Delete" ng-click="vm.delete(item.Id)"></button>			
			</td>
        </tr>
    </table>
    
</div>

</div>
