﻿<link href="../../../Content/cropper.min.css" rel="stylesheet" />
<link href="../../../Content/croperAvatar.css" rel="stylesheet" />
<div class="modal-dialog">
    <div class="modal-header">
        <h3 class="modal-title">Upload image</h3>
    </div>
    <div class="modal-body">
        <div class="avatar-body">
            <div class="avatar-upload">
                <label for="avatarInput">Local upload</label>
                <input type="file" id="avatarInput" onchange="angular.element(this).scope().onFile(this.files[0])">
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div ng-if="dataUrl" class="img-container">
                        <img ng-if="dataUrl" ng-src="{{dataUrl}}" width="300" height="200"
                             ng-cropper
                             ng-cropper-proxy="cropperProxy"
                             ng-cropper-show="showEvent"
                             ng-cropper-hide="hideEvent"
                             ng-cropper-options="options">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="preview-container">
                        <img ng-if="preview.dataUrl" ng-src="{{preview.dataUrl}}" width="200" height="200">
                    </div>
                </div>
            </div>
            <div class="row avatar-btns">
                <div class="col-md-9">
                    <button ng-click="preview()">Show preview</button>
                    <button ng-click="clear()">Clear selection</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
