﻿
<div class="modal-dialog">
    <div class="modal-header dialog-header-confirm">
        <h4 class="modal-title ng-binding"><span class="glyphicon glyphicon-check"></span><strong> {{modalOptions.headerText}}</strong></h4>
    </div>
    <div class="modal-body">
        {{modalOptions.bodyText}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
        <button class="btn btn-primary" ng-disabled="modalInvalid" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    </div>
</div>
