﻿
<div class="modal-dialog">
    <div class="modal-header dialog-header-error">
        <h4 class="modal-title"><span class="glyphicon glyphicon-warning-sign"></span> <strong> Lỗi</strong></h4>
    </div>
    <div class="modal-body text-danger">
        {{modalOptions.bodyText}}!
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="modalInvalid" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    </div>
</div>
