<section class="content-header" style="z-index:10000">
    <ol class="breadcrumb">
        <li><a href="#/dashboard">Home</a></li>
        <li><a href="#/beers">Beers</a></li>
        <li class="active">beer</li>
    </ol>
</section>
<div class="box-header with-border">
    <h3 class="box-title">{{vm.formTitle}}</h3>
</div>
<div class="box box-info">
    <form class="form-horizontal" name="itemForm">
        <div class="box-header">
            <button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveBeer()">
                <i class="fa fa-save"></i> Save
            </button>
            <button onclick="window.location.href='#/beers'" class="btn btn-default" title="Beer">Close</button>
            <button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.beer.Id)">
                <i class="fa fa-times">
                </i> Delete
            </button>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Beer details
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.Name.$invalid && !itemForm.Name.$pristine }">
                                        <label for="Name" class="col-sm-3 control-label">Category<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <select ng-options="c.Id as c.Name for c in vm.categories" ng-model="vm.beer.BeerCategoryId" class="form-control" name="BeerCategoryId" placeholder="Select category" required></select>
                                            <span class="error-message" ng-show="submitted && itemForm.BeerCategoryId.$error.required"> This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.ManufacturerId.$invalid && !itemForm.ManufacturerId.$pristine }">
                                        <label for="Name" class="col-sm-3 control-label">Manufacturer<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <select ng-options="c.Id as c.Name for c in vm.manufacturers" ng-model="vm.beer.ManufacturerId" class="form-control" name="ManufacturerId" placeholder="Select category" required></select>
                                            <span class="error-message" ng-show="submitted && itemForm.ManufacturerId.$error.required"> This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.Name.$invalid && !itemForm.Name.$pristine }">
                                        <label for="Name" class="col-sm-3 control-label">Name<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="vm.beer.Name" class="form-control" name="name" placeholder="Name" required>
                                            <span class="error-message" ng-show="submitted && itemForm.Name.$error.required"> This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.Price.$invalid && !itemForm.Price.$pristine }">
                                        <label for="name" class="col-sm-3  control-label">Price<font color="#FF0000">*</font></label>
                                        <div class="col-md-9">
                                            <input type="number" name="Price" class="form-control" data-ng-model="vm.beer.Price" required />
                                            <span class="error-message" ng-show="submitted && itemForm.Price.$error.required"> This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.Description.$invalid && !itemForm.Description.$pristine }">
                                        <label for="Description" class="col-sm-3 control-label">Description<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <textarea rows="3" type="text" ng-model="vm.beer.Description" class="form-control" name="name" placeholder="Description" required></textarea>
                                            <span class="error-message" ng-show="submitted && itemForm.Description.$error.required"> This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.Status.$invalid && !itemForm.Status.$pristine }">
                                        <label class="col-sm-3 control-label">Status<font color="#FF0000">*</font></label>
                                        <div class="col-md-9">
                                            <input type="checkbox" ng-init="vm.beer.IsArchived=false" ng-model="vm.beer.IsArchived" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.saveBeer()">
                <i class="fa fa-save"></i> Save
            </button>
            <button onclick="window.location.href='#/beers'" class="btn btn-default" title="Beer">Close</button>
            <button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.beer.Id)">
                <i class=" fa fa-times">
                </i> Delete
            </button>
        </div>
    </form>
</div>
