<section class="content-header" style="z-index:10000">
    <ol class="breadcrumb">
        <li><a href="#/dashboard">Home</a></li>
        <li><a href="#/customers">Customers</a></li>
        <li class="active">customer</li>
    </ol>
</section>
<div class="box-header with-border">
    <h3 class="box-title">{{vm.formTitle}}</h3>
</div>
<div class="box box-info">
    <form class="form-horizontal" name="itemForm">
        <div class="box-header">
            <button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.savecustomer()">
                <i class="fa fa-save"></i> Save
            </button>
            <button onclick="window.location.href='#/customers'" class="btn btn-default" title="customer">Close</button>
            <button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.customer.Id)">
                <i class="fa fa-times">
                </i> Delete
            </button>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Detail customer
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="row">
                                    <!-- [@FormControls] -->
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.Email.$invalid && !itemForm.Email.$pristine }">
                                        <label for="Email" class="col-sm-3 control-label">Email<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="vm.customer.Email" class="form-control" name="name" placeholder="Email" required>
                                            <span class="error-message" ng-show="submitted && itemForm.Email.$error.required"> This field is required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.FirstName.$invalid && !itemForm.FirstName.$pristine }">
                                        <label class="col-sm-3 control-label">FirstName<font color="#FF0000">*</font></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="vm.customer.FirstName" />
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.LastName.$invalid && !itemForm.LastName.$pristine }">
                                        <label class="col-sm-3 control-label">LastName<font color="#FF0000">*</font></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="vm.customer.LastName" />
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : itemForm.PhoneNumber.$invalid && !itemForm.PhoneNumber.$pristine }">
                                        <label for="PhoneNumber" class="col-sm-3 control-label">PhoneNumber<font color="#FF0000">*</font></label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="vm.customer.PhoneNumber" class="form-control" name="name" placeholder="PhoneNumber" required>
                                            <span class="error-message" ng-show="submitted && itemForm.PhoneNumber.$error.required"> This field is required</span>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary" ng-disabled="itemForm.$invalid" ng-click="vm.savecustomer()">
                <i class="fa fa-save"></i> Save
            </button>
            <button onclick="window.location.href='#/customers'" class="btn btn-default" title="customer">Close</button>
            <button type="button" class="btn btn-danger pull-right" ng-disabled="!vm.isUpdated" ng-click="vm.delete(vm.customer.Id)">
                <i class=" fa fa-times">
                </i> Delete
            </button>
        </div>
    </form>
</div>
