
<section class="content-header" style="z-index:10000">
    <ol class="breadcrumb">
        <li><a href="#/dashboard">Home</a></li>
        <li class="active">customer</li>
    </ol>
</section>

<a href="#/customer/0" class="btn btn-primary">
    <i class="fa fa-plus"></i> Create New
</a>

<div class="box">
    <div class="box-header">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter keyword" data-ng-model="vm.searchText">
                </div>
                <button class="btn btn-default" ng-click="vm.searchTextChanged()">
                    <i class="fa fa-search"></i> Search
                </button>

            </div>
        </div>
    </div>

    <div class="box-body">
        <table ng-table="vm.tableParams" class="table table-bordered table-striped table-condensed">
            <tr ng-repeat="item in $data">
                <td data-title="'Full Name'">{{item.FirstName}}  {{item.LastName}}</td>
                <td data-title="'Email'">{{item.Email}}</td>
                <td data-title="'PhoneNumber'">{{item.PhoneNumber}}</td>
                <td data-title="'AccessFailedCount'">{{item.AccessFailedCount}}</td>
                <td width="10%" align="center" valign="middle">
                    <button class="btn btn-default fa fa-edit" title="Update" ng-click="vm.edit(item.Id)"></button>
                    <button class="btn btn-default fa fa-trash" title="Delete" ng-click="vm.delete(item.Id)"></button>
                </td>
            </tr>
        </table>

    </div>

</div>
