
.zo2_button.tp-caption {
	background: none; padding: 8px 42px; border: 3px solid rgb(255, 255, 255); border-image: none; text-transform: uppercase; line-height: 23px; font-size: 14px;
}
.zo2_title.tp-caption {
	color: rgb(255, 255, 255); font-size: 220%;
}
.zo2_main.tp-caption {
	color: rgb(255, 255, 255); line-height: 22px; font-size: 140%;
}
.big_black.tp-caption {
	border-width: 0px; margin: 0px; color: rgb(0, 0, 0); line-height: 36px; font-size: 35px; font-weight: 600; position: absolute; text-shadow: none;
}
.big_white.tp-caption {
	border-width: 0px; margin: 0px; color: rgb(255, 255, 255); line-height: 36px; font-size: 32px; font-weight: 700; position: absolute; text-shadow: none;
}
.big_grey.tp-caption {
	border-width: 0px; margin: 0px; color: rgb(68, 68, 68); line-height: 36px; font-size: 32px; font-weight: 700; position: absolute; text-shadow: none;
}
.big_colorbg.tp-caption {
	background: rgb(45, 160, 206); border-width: 0px; margin: 0px; padding: 5px 15px; border-radius: 2px; color: rgb(255, 255, 255); line-height: 32px; font-size: 32px; font-weight: 700; position: absolute; box-shadow: 0px 1px 2px 0px rgba(180,180,180,0.2); text-shadow: none; -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px;
}
.big_whitebg.tp-caption {
	background: rgb(255, 255, 255); border-width: 0px; margin: 0px; padding: 5px 15px; border-radius: 2px; color: rgb(119, 119, 119); line-height: 32px; font-size: 32px; font-weight: 700; position: absolute; box-shadow: 0px 1px 2px 0px rgba(180,180,180,0.2); text-shadow: none; -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px;
}
.customfont_black.tp-caption {
	color: rgb(0, 0, 0); line-height: 64px; letter-spacing: -2px; font-family: "Oswald" !important; font-size: 74px; font-weight: 700;
}
.customfont_white.tp-caption {
	color: rgb(255, 255, 255); line-height: 64px; letter-spacing: -2px; font-family: "Oswald" !important; font-size: 74px; font-weight: 700;
}
.customfont_grey.tp-caption {
	color: rgb(119, 119, 119); line-height: 64px; letter-spacing: -2px; font-family: "Oswald" !important; font-size: 74px; font-weight: 700;
}
.customfont_color.tp-caption {
	color: rgb(45, 160, 206); line-height: 64px; letter-spacing: -2px; font-family: "Oswald" !important; font-size: 74px; font-weight: 700;
}
.medium_black.tp-caption {
	border-width: 0px; margin: 0px; padding: 0px; color: rgb(0, 0, 0); line-height: 30px; font-size: 22px; font-weight: 700; position: absolute; text-shadow: none;
}
.medium_grey.tp-caption {
	border-width: 0px; margin: 0px; padding: 0px; color: rgb(68, 68, 68); line-height: 30px; font-size: 22px; font-weight: 700; position: absolute; text-shadow: none;
}
.medium_white.tp-caption {
	border-width: 0px; margin: 0px; padding: 0px; color: rgb(255, 255, 255); line-height: 30px; font-size: 22px; font-weight: 700; position: absolute; text-shadow: none;
}
.medium_colorbg.tp-caption {
	background: rgb(45, 160, 206); border-width: 0px; margin: 0px; padding: 5px 10px; border-radius: 2px; color: rgb(255, 255, 255); line-height: 22px; font-size: 22px; font-weight: 700; position: absolute; box-shadow: 0px 1px 2px 0px rgba(180,180,180,0.2); text-shadow: none; -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px;
}
.medium_whitebg.tp-caption {
	background: rgb(255, 255, 255); border-width: 0px; margin: 0px; padding: 5px 10px; border-radius: 2px; color: rgb(119, 119, 119); line-height: 22px; font-size: 22px; font-weight: 700; position: absolute; box-shadow: 0px 1px 2px 0px rgba(180,180,180,0.2); text-shadow: none; -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px;
}
.small_black.tp-caption {
	border-width: 0px; margin: 0px; padding: 0px; color: rgb(0, 0, 0); line-height: 22px; font-size: 16px; font-weight: 700; position: absolute; text-shadow: none;
}
.small_grey.tp-caption {
	border-width: 0px; margin: 0px; padding: 0px; color: rgb(68, 68, 68); line-height: 22px; font-size: 16px; font-weight: 700; position: absolute; text-shadow: none;
}
.small_white.tp-caption {
	border-width: 0px; margin: 0px; padding: 0px; color: rgb(255, 255, 255); line-height: 22px; font-size: 16px; font-weight: 700; position: absolute; text-shadow: none;
}
.small_colorbg.tp-caption {
	background: rgb(45, 160, 206); border-width: 0px; margin: 0px; padding: 5px 10px; border-radius: 2px; color: rgb(255, 255, 255); line-height: 16px; font-size: 16px; font-weight: 700; position: absolute; box-shadow: 0px 1px 2px 0px rgba(180,180,180,0.2); text-shadow: none; -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px;
}
.small_whitebg.tp-caption {
	background: rgb(255, 255, 255); border-width: 0px; margin: 0px; padding: 5px 10px; border-radius: 2px; color: rgb(119, 119, 119); line-height: 16px; font-size: 16px; font-weight: 700; position: absolute; box-shadow: 0px 1px 2px 0px rgba(180,180,180,0.2); text-shadow: none; -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px;
}
.small_greybg.tp-caption {
	background: rgba(50, 50, 50, 0.6); border-width: 0px; margin: 0px; padding: 5px 10px; border-radius: 2px; color: rgb(255, 255, 255); line-height: 14px; font-size: 14px; font-weight: 700; position: absolute; box-shadow: 0px 1px 2px 0px rgba(180,180,180,0.2); text-shadow: none; -webkit-box-shadow: 0px 1px 2px 0px rgba(180, 180, 180, 0.2); -webkit-border-radius: 2px;
}
.medium_text_black.tp-caption {
	border-width: 0px; margin: 0px; color: rgb(0, 0, 0); line-height: 1.6 !important; font-size: 14px; position: absolute; text-shadow: none;
}
.medium_text_grey.tp-caption {
	border-width: 0px; margin: 0px; color: rgb(68, 68, 68); line-height: 1.6 !important; font-size: 14px; position: absolute; text-shadow: none;
}
.medium_text_brightgrey.tp-caption {
	border-width: 0px; margin: 0px; color: rgb(119, 119, 119); line-height: 1.6 !important; font-size: 14px; position: absolute; text-shadow: none;
}
.medium_text_white.tp-caption {
	border-width: 0px; margin: 0px; color: rgb(255, 255, 255); line-height: 1.6 !important; font-size: 14px; position: absolute; text-shadow: none;
}
.small_text_black.tp-caption {
	border-width: 0px; margin: 0px; color: rgb(119, 119, 119); line-height: 1.6 !important; font-size: 12px; position: absolute; text-shadow: none;
}
.small_text_grey.tp-caption {
	border-width: 0px; margin: 0px; color: rgb(68, 68, 68); line-height: 1.6 !important; font-size: 12px; position: absolute; text-shadow: none;
}
.small_text_brightgrey.tp-caption {
	border-width: 0px; margin: 0px; color: rgb(119, 119, 119); line-height: 1.6 !important; font-size: 12px; position: absolute; text-shadow: none;
}
.small_text_white.tp-caption {
	border-width: 0px; margin: 0px; color: rgb(255, 255, 255); line-height: 1.6 !important; font-size: 12px; position: absolute; text-shadow: none;
}
.noshadow.tp-caption {
	text-shadow: none;
}
.tp-caption a {
	transition:0.2s ease-out; color: rgb(45, 160, 206); text-shadow: none; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out;
}
.tp-caption a:hover {
	color: rgb(102, 102, 102);
}
