.clearfix {
	
}
.clearfix::before {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.hide-text {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.input-block-level {
	width: 100%; display: block; min-height: 30px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
body {
	color: rgb(44, 44, 44); font-size: 12px; background-color: rgb(237, 238, 242);
}
#lastest-new {
	background: rgb(255, 255, 255); border-width: 1px 1px 4px; border-style: solid; border-color: rgb(214, 217, 222);
}
div.latestView div.latestItemsContainer {
	border-width: 1px 1px 4px; border-style: solid; border-color: rgb(214, 217, 222);
}
#right div.module {
	border-width: 1px 1px 4px; border-style: solid; border-color: rgb(214, 217, 222);
}
div.breadcrumbs a.first-t {
	background: url("../images/breadcrums.png") no-repeat left top;
}
div.breadcrumbs a.first {
	background: url("../images/breadcrums.png") no-repeat left top;
}
#menu-news {
	border-top-color: #dc2026; border-top-width: 5px; border-top-style: solid;
}
nav.zo2-menu {
	border-width: 3px 1px 1px; border-style: solid; border-color: #dc2026 rgb(212, 215, 219) rgb(212, 215, 219);
}
nav.zo2-menu .navbar-nav > li.active > a {
	background: #dc2026; color: rgb(255, 255, 255);
}
nav.zo2-menu .navbar-nav > li.open > a {
	background: rgb(255, 92, 3); color: rgb(255, 255, 255);
}
nav.zo2-menu .navbar-nav > li.active > a:hover {
	background: rgb(255, 92, 3); color: rgb(255, 255, 255);
}
nav.zo2-menu .navbar-nav > li.active > a:active {
	background: rgb(255, 92, 3); color: rgb(255, 255, 255);
}
nav.zo2-menu .navbar-nav > li.active > a:focus {
	background: rgb(255, 92, 3); color: rgb(255, 255, 255);
}
nav.zo2-menu .navbar-nav > li.open > a:hover {
	background: #dc2026; color: rgb(255, 255, 255);
}
nav.zo2-menu .navbar-nav > li.open > a:active {
	background: rgb(255, 92, 3); color: rgb(255, 255, 255);
}
nav.zo2-menu .navbar-nav > li.open > a:focus {
	background: rgb(255, 92, 3); color: rgb(255, 255, 255);
}
#component {
	border-width: 1px 1px 4px; border-style: solid; border-color: rgb(214, 217, 222);
}
#left div.module {
	border-width: 1px 1px 4px; border-style: solid; border-color: rgb(214, 217, 222);
}
#gototop:hover i {
	color: rgb(255, 92, 3);
}
div.zt-login-form .signin {
	background: rgb(255, 92, 3);
}
#user-bottom div.mod-wrapper {
	border-width: 1px 1px 4px; border-style: solid; border-color: rgb(212, 215, 219);
}
#user-header div.mod-wrapper {
	border-width: 1px 1px 4px; border-style: solid; border-color: rgb(212, 215, 219);
}
div.zt_scroller div.owl-controls div.owl-pagination div.active.owl-page span {
	background: rgb(255, 92, 3); border: 1px solid rgb(255, 92, 3); border-image: none;
}
div.zt_scroller div.owl-controls div.owl-pagination div.owl-page:hover span {
	background: rgb(255, 92, 3); border: 1px solid rgb(255, 92, 3); border-image: none;
}
div.zt_scroller div.owl-controls div.owl-pagination div.owl-page:focus span {
	background: rgb(255, 92, 3); border: 1px solid rgb(255, 92, 3); border-image: none;
}
div.zt_scroller div.owl-controls div.owl-pagination div.owl-page:active span {
	background: rgb(255, 92, 3); border: 1px solid rgb(255, 92, 3); border-image: none;
}
div.zt_scroller div.owl-controls div.owl-pagination div.new_owl_next:hover {
	color: rgb(255, 92, 3);
}
div.zt_scroller div.owl-controls div.owl-pagination div.new_owl_next:active {
	color: rgb(255, 92, 3);
}
div.zt_scroller div.owl-controls div.owl-pagination div.new_owl_prev:hover {
	color: rgb(255, 92, 3);
}
div.zt_scroller div.owl-controls div.owl-pagination div.new_owl_prev:active {
	color: rgb(255, 92, 3);
}
div.zt_news_wrap div.zt-category {
	border-width: 1px 1px 4px; border-style: solid; border-color: rgb(212, 215, 219);
}
#mainframe {
	color: rgb(38, 38, 38);
}
#mainframe a {
	color: rgb(14, 116, 188);
}
div.rev_slider_wrapper .default.tp-rightarrow {
	color: rgb(255, 92, 3);
}
div.rev_slider_wrapper .default.tp-leftarrow {
	color: rgb(255, 92, 3);
}
