a:active {
	outline: 0px;
}
a:focus {
	outline: 0px;
}
img {
	border: currentColor; border-image: none;
}
#k2Container {
	
}
body.contentpane #k2Container {
	padding: 16px;
}
.k2Padding {
	padding: 4px;
}
.clr {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; height: 0px; line-height: 0; clear: both; float: none; display: block;
}
.even {
	background: rgb(255, 255, 240); padding: 0px;
}
.odd {
	background: rgb(255, 255, 255); padding: 0px;
}
div.k2FeedIcon {
	padding: 4px 8px;
}
div.k2FeedIcon a {
	background: url("../images/fugue/feed.png") no-repeat 50% 50%; margin: 0px; padding: 0px; width: 16px; height: 16px; float: right; display: block;
}
div.k2FeedIcon a:hover {
	background: url("../images/fugue/feed.png") no-repeat 50% 50%; margin: 0px; padding: 0px; width: 16px; height: 16px; float: right; display: block;
}
div.k2FeedIcon a span {
	display: none;
}
div.k2FeedIcon a:hover span {
	display: none;
}
.itemRatingForm {
	line-height: 25px; vertical-align: middle; float: left; display: block;
}
.itemRatingLog {
	margin: 0px; padding: 0px 0px 0px 4px; font-size: 11px; float: left;
}
div.itemRatingForm .formLogLoading {
	padding: 0px 0px 0px 20px; height: 25px;
}
.itemRatingList {
	
}
.itemRatingList a:hover {
	
}
.itemRatingList .itemCurrentRating {
	
}
.itemRatingList {
	background-position: left top; list-style: none; margin: 0px; padding: 0px; width: 125px; height: 25px; overflow: hidden; float: left; position: relative;
}
.itemRatingList li {
	background: none; padding: 0px; display: inline;
}
.itemRatingList a {
	border: currentColor; border-image: none; left: 0px; top: 0px; height: 25px; line-height: 25px; text-indent: -1000px; overflow: hidden; position: absolute; cursor: pointer;
}
.itemRatingList .itemCurrentRating {
	border: currentColor; border-image: none; left: 0px; top: 0px; height: 25px; line-height: 25px; text-indent: -1000px; overflow: hidden; position: absolute; cursor: pointer;
}
.itemRatingList a:hover {
	background-position: left bottom;
}
.itemRatingList a.one-star {
	width: 20%; z-index: 6;
}
.itemRatingList a.two-stars {
	width: 40%; z-index: 5;
}
.itemRatingList a.three-stars {
	width: 60%; z-index: 4;
}
.itemRatingList a.four-stars {
	width: 80%; z-index: 3;
}
.itemRatingList a.five-stars {
	width: 100%; z-index: 2;
}
.itemRatingList .itemCurrentRating {
	background-position: 0px; margin: 0px; padding: 0px; z-index: 1;
}
span.siteRoot {
	display: none;
}
.smallerFontSize {
	line-height: inherit; font-size: 100%;
}
.largerFontSize {
	line-height: 140%; font-size: 150%;
}
.recaptchatable .recaptcha_image_cell {
	background-color: rgb(255, 255, 255) !important;
}
#recaptcha_table {
	background-color: rgb(255, 255, 255) !important;
}
#recaptcha_table {
	border-color: rgb(204, 204, 204) !important;
}
#recaptcha_response_field {
	border-color: rgb(204, 204, 204) !important; background-color: rgb(255, 255, 255) !important;
}
div.k2LatestCommentsBlock ul {
	
}
div.k2TopCommentersBlock ul {
	
}
div.k2ItemsBlock ul {
	
}
div.k2LoginBlock ul {
	
}
div.k2UserBlock ul.k2UserBlockActions {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu {
	
}
div.k2ArchivesBlock ul {
	
}
div.k2AuthorsListBlock ul {
	
}
div.k2CategoriesListBlock ul {
	
}
div.k2UsersBlock ul {
	
}
div.k2LatestCommentsBlock ul li {
	
}
div.k2TopCommentersBlock ul li {
	
}
div.k2ItemsBlock ul li {
	
}
div.k2LoginBlock ul li {
	
}
div.k2UserBlock ul.k2UserBlockActions li {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu li {
	
}
div.k2ArchivesBlock ul li {
	
}
div.k2AuthorsListBlock ul li {
	
}
div.k2CategoriesListBlock ul li {
	
}
div.k2UsersBlock ul li {
	
}
.clearList {
	clear: both; float: none; display: none;
}
.lastItem {
	border: currentColor; border-image: none;
}
.k2Avatar img {
	border-width: 0px 1px 1px 0px; border-style: none solid solid none; border-color: currentColor rgb(60, 61, 62) rgb(60, 61, 62) currentColor; margin: 0px 10px 0px 0px; padding: 3px; border-image: none; width: auto; height: auto; float: left; display: block; background-color: rgb(35, 36, 37);
}
#zt-right .k2Avatar img {
	background: rgb(255, 255, 255); margin: 4px; padding: 2px; border: 1px solid rgb(204, 204, 204); border-image: none; float: left; display: block;
}
a.k2ReadMore {
	
}
a.k2ReadMore:hover {
	
}
div.k2Pagination {
	margin: 0px; padding: 0px; text-align: center; color: rgb(153, 153, 153);
}
div.k2Pagination ul {
	text-align: center;
}
table.csvData {
	
}
table.csvData tr th {
	
}
table.csvData tr td {
	
}
div.itemIsFeatured {
	
}
div.catItemIsFeatured {
	
}
div.userItemIsFeatured {
	
}
a.itemPrintThisPage {
	background: rgb(247, 250, 254); margin: 4px auto 16px; padding: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 160px; text-align: center; color: rgb(85, 85, 85); font-size: 13px; display: block;
}
a.itemPrintThisPage:hover {
	background: rgb(238, 238, 238); text-decoration: none;
}
div.itemView {
	
}
div.itemIsFeatured {
	
}
span.itemEditLink {
	margin: 0px; padding: 4px 0px; width: 120px; text-align: right; float: right; display: block;
}
span.itemEditLink a {
	background: rgb(238, 238, 238); padding: 2px 12px; border: 1px solid rgb(204, 204, 204); border-image: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none;
}
span.itemEditLink a:hover {
	background: rgb(255, 255, 204);
}
div.itemHeader {
	
}
div.itemHeader h1.componentheading {
	padding: 0px 0px 0px 15px; border: currentColor; border-image: none;
}
div.itemHeader span.itemDateCreated {
	color: rgb(153, 153, 153); font-size: 11px;
}
div.itemHeader h2.itemTitle {
	margin: 0px 0px 0px 15px; padding: 0px; color: rgb(54, 54, 54); line-height: 100%; font-size: 200%; font-weight: normal;
}
div.itemHeader h2.itemTitle span {
	
}
div.itemHeader h2.itemTitle span sup {
	color: rgb(207, 25, 25); font-size: 12px; text-decoration: none;
}
div.itemHeader span.itemAuthor {
	margin: 0px; padding: 0px; display: block;
}
div.itemHeader span.itemAuthor a {
	
}
div.itemHeader span.itemAuthor a:hover {
	
}
div.itemToolbar {
	margin: 0px 15px; padding: 2px 0px; float: right;
}
div.itemToolbar ul {
	list-style: none; margin: 0px; padding: 0px; text-align: right;
}
div.itemToolbar ul li {
	background: none; list-style: none; margin: 0px; padding: 0px 4px 0px 8px; text-align: center; font-size: 12px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; display: inline;
}
div.itemToolbar ul > li:first-child {
	border: currentColor; border-image: none;
}
div.itemToolbar ul li a {
	font-size: 12px; font-weight: normal;
}
div.itemToolbar ul li a:hover {
	
}
div.itemToolbar ul li a span {
	
}
div.itemToolbar ul li a.itemPrintLink {
	
}
div.itemToolbar ul li a.itemPrintLink span {
	
}
div.itemToolbar ul li a.itemEmailLink {
	
}
div.itemToolbar ul li a.itemEmailLink span {
	
}
div.itemToolbar ul li a.itemVideoLink {
	
}
div.itemToolbar ul li a.itemVideoLink span {
	
}
div.itemToolbar ul li a.itemImageGalleryLink {
	
}
div.itemToolbar ul li a.itemImageGalleryLink span {
	
}
div.itemToolbar ul li a.itemCommentsLink {
	
}
div.itemToolbar ul li a.itemCommentsLink span {
	
}
div.itemToolbar ul li a img {
	vertical-align: middle;
}
div.itemToolbar ul li span.itemTextResizerTitle {
	
}
div.itemToolbar ul li a#fontDecrease {
	margin: 0px 0px 0px 2px;
}
div.itemToolbar ul li a#fontDecrease img {
	width: 13px; height: 13px;
}
div.itemToolbar ul li a#fontIncrease {
	margin: 0px 0px 0px 2px;
}
div.itemToolbar ul li a#fontIncrease img {
	width: 13px; height: 13px;
}
div.itemToolbar ul li a#fontDecrease span {
	display: none;
}
div.itemToolbar ul li a#fontIncrease span {
	display: none;
}
div.itemRatingBlock {
	margin: 0px 15px; padding: 8px 0px; float: left;
}
div.itemRatingBlock span {
	margin: 0px; padding: 0px 4px 0px 0px; color: rgb(153, 153, 153); font-style: normal; float: left; display: block;
}
div.itemBody {
	margin: 20px 0px 0px; padding: 0px 15px; clear: both;
}
div.itemImageBlock {
	margin: 0px 0px 16px; padding: 8px;
}
div.itemImage {
	margin: 0px 10px 10px 0px; text-align: center; float: left; display: block;
}
div.itemImage img {
	background: rgb(255, 255, 255); margin: 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
span.itemImageCaption {
	color: rgb(102, 102, 102); font-size: 11px; float: left; display: block;
}
span.itemImageCredits {
	color: rgb(153, 153, 153); font-size: 11px; font-style: italic; float: right; display: block;
}
div.itemIntroText {
	
}
div.itemIntroText img {
	max-width: inherit !important;
}
div.itemFullText {
	
}
div.itemFullText h3 {
	margin: 0px; padding: 16px 0px 4px;
}
div.itemFullText p {
	
}
div.itemFullText img {
	background: rgb(255, 255, 255); margin: 0px 10px 10px 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none; float: left;
}
div.itemExtraFields {
	margin: 16px 0px 0px; padding: 8px 0px 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: dotted;
}
div.itemExtraFields h3 {
	margin: 0px; padding: 0px 0px 8px; line-height: normal !important;
}
div.itemExtraFields ul {
	list-style: none; margin: 0px; padding: 0px;
}
div.itemExtraFields ul li {
	display: block;
}
div.itemExtraFields ul li span.itemExtraFieldsLabel {
	margin: 0px 4px 0px 0px; width: 30%; font-weight: bold; float: left; display: block;
}
div.itemExtraFields ul li span.itemExtraFieldsValue {
	
}
div.itemContentFooter {
	margin: 10px 15px; padding: 5px 10px; text-align: right; color: rgb(153, 153, 153); border-top-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block;
}
span.itemHits {
	float: left;
}
span.itemDateModified {
	
}
div.itemSocialSharing {
	padding: 15px; overflow: hidden;
}
div.itemTwitterButton {
	margin: 0px 24px 0px 0px; float: left;
}
div.itemFacebookButton {
	width: 300px; margin-right: 24px; float: left;
}
div.itemGooglePlusOneButton {
	
}
div.itemLinks {
	margin: 16px 0px; padding: 0px;
}
div.itemCategory {
	padding: 4px 4px 4px 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.itemCategory span {
	padding: 0px 4px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.itemCategory a {
	
}
div.itemTagsBlock {
	padding: 4px 4px 4px 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.itemTagsBlock span {
	padding: 0px 4px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.itemTagsBlock ul.itemTags {
	list-style: none; margin: 0px; padding: 0px; display: inline;
}
div.itemTagsBlock ul.itemTags li {
	list-style: none; margin: 0px; padding: 0px 4px 0px 0px; text-align: center; display: inline;
}
div.itemTagsBlock ul.itemTags li a {
	
}
div.itemTagsBlock ul.itemTags li a:hover {
	
}
div.itemAttachmentsBlock {
	padding: 4px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.itemAttachmentsBlock span {
	padding: 0px 4px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.itemAttachmentsBlock ul.itemAttachments {
	list-style: none; margin: 0px; padding: 0px; display: inline;
}
div.itemAttachmentsBlock ul.itemAttachments li {
	list-style: none; margin: 0px; padding: 0px 4px; text-align: center; display: inline;
}
div.itemAttachmentsBlock ul.itemAttachments li a {
	
}
div.itemAttachmentsBlock ul.itemAttachments li a:hover {
	
}
div.itemAttachmentsBlock ul.itemAttachments li span {
	color: rgb(153, 153, 153); font-size: 10px; font-weight: normal;
}
div.itemAuthorBlock {
	background: rgb(245, 245, 245); margin: 0px 15px 15px; padding: 20px 10px; border: 1px solid rgb(225, 225, 225); border-image: none;
}
div.itemAuthorBlock img.itemAuthorAvatar {
	background: rgb(255, 255, 255); margin: 0px 8px 0px 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none; float: left; display: block;
}
div.itemAuthorBlock div.itemAuthorDetails {
	margin: 0px; padding: 0px;
}
div.itemAuthorBlock div.itemAuthor {
	margin: 0px; padding: 0px; width: 82%; float: left;
}
div.itemAuthorBlock div.itemAuthorDetails h3 {
	margin: 5px 0px 0px; padding: 0px;
}
div.itemAuthorBlock div.itemAuthorDetails h3.itemAuthorName {
	padding: 0px;
}
div.itemAuthorBlock div.itemAuthorDetails h3.itemAuthorName a {
	color: rgb(83, 83, 83);
}
div.itemAuthorBlock div.itemAuthorDetails h3.itemAuthorName a:hover {
	
}
div.itemAuthorBlock div.itemAuthorDetails p {
	
}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl {
	margin: 0px 4px 0px 0px; padding: 0px 8px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail {
	color: rgb(85, 85, 85); font-weight: bold;
}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl a {
	font-weight: normal;
}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail a {
	font-weight: normal;
}
div.itemAuthorLatest {
	margin: 0px 15px 15px; padding: 0px;
}
div.itemAuthorLatest h3 {
	
}
div.itemAuthorLatest ul {
	
}
div.itemAuthorLatest ul li {
	
}
div.itemAuthorLatest ul li a {
	
}
div.itemAuthorLatest ul li a:hover {
	
}
div.itemRelated {
	padding: 0px; margin-bottom: 16px;
}
div.itemRelated h3 {
	
}
div.itemRelated ul {
	
}
div.itemRelated ul li {
	
}
div.itemRelated ul li.k2ScrollerElement {
	background: rgb(255, 255, 255); margin: 0px 4px 4px 0px; padding: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; overflow: hidden; float: left;
}
div.itemRelated ul li.clr {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; height: 0px; line-height: 0; clear: both; float: none; display: block;
}
a.itemRelTitle {
	
}
div.itemRelCat {
	
}
div.itemRelCat a {
	
}
div.itemRelAuthor {
	
}
div.itemRelAuthor a {
	
}
img.itemRelImg {
	
}
div.itemRelIntrotext {
	
}
div.itemRelFulltext {
	
}
div.itemRelMedia {
	
}
div.itemRelImageGallery {
	
}
div.itemVideoBlock {
	margin: 0px 0px 15px; padding: 15px;
}
div.itemVideoBlock div.itemVideoEmbedded {
	text-align: center;
}
div.itemVideoBlock span.itemVideo {
	overflow: hidden; display: block;
}
div.itemVideoBlock span.itemVideoCaption {
	width: 60%; color: rgb(238, 238, 238); font-size: 11px; font-weight: bold; float: left; display: block;
}
div.itemVideoBlock span.itemVideoCredits {
	width: 35%; text-align: right; color: rgb(238, 238, 238); font-size: 11px; font-style: italic; float: right; display: block;
}
div.itemImageGallery {
	margin: 0px 0px 16px; padding: 0px;
}
div.itemNavigation {
	background: rgb(255, 255, 240); margin: 0px 15px 24px; padding: 4px 8px; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: dotted; border-bottom-style: dotted; display: block !important;
}
div.itemNavigation span.itemNavigationTitle {
	color: rgb(153, 153, 153);
}
div.itemNavigation a.itemPrevious {
	padding: 0px 12px;
}
div.itemNavigation a.itemNext {
	padding: 0px 12px;
}
div.itemFullText ul li::before {
	margin: 0px 5px 0px 0px; font-family: FontAwesome; content: "\f105";
}
div.itemComments {
	background: rgb(245, 245, 245); margin: 0px 15px; padding: 10px; border: 1px solid rgb(225, 225, 225); border-image: none;
}
div.itemComments h3 {
	color: rgb(54, 54, 54);
}
div.itemComments ul.itemCommentsList {
	list-style: none; margin: 0px; padding: 0px;
}
div.itemComments ul.itemCommentsList li {
	margin: 0px 0px 10px; padding: 10px;
}
div.itemComments ul.itemCommentsList li.authorResponse {
	
}
div.itemComments ul.itemCommentsList li.unpublishedComment {
	background: rgb(255, 234, 234);
}
div.itemComments ul.itemCommentsList li img {
	background: rgb(255, 255, 255); margin: 4px 15px 4px 0px; padding: 4px; border: 1px solid rgb(215, 215, 215); border-image: none; float: left;
}
div.itemComments ul.itemCommentsList li span.commentDate {
	margin: 0px 10px 0px 0px; padding: 0px 10px 0px 0px; text-transform: uppercase; font-family: Tahoma; font-size: 100%; font-weight: bold; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
div.itemComments ul.itemCommentsList li span.commentAuthorName {
	text-transform: uppercase; font-family: Tahoma; font-size: 100%; font-weight: bold;
}
div.itemComments ul.itemCommentsList li p {
	margin: 0px; padding: 0px;
}
div.itemComments ul.itemCommentsList li span.commentAuthorEmail {
	display: none;
}
div.itemComments ul.itemCommentsList li span.commentLink {
	margin-left: 8px; float: right;
}
div.itemComments ul.itemCommentsList li span.commentLink a {
	font-size: 11px; text-decoration: underline;
}
div.itemComments ul.itemCommentsList li span.commentLink a:hover {
	color: rgb(85, 85, 85); font-size: 11px; text-decoration: underline;
}
div.itemComments ul.itemCommentsList li span.commentToolbar {
	clear: both; display: block;
}
div.itemComments ul.itemCommentsList li span.commentToolbar a {
	color: rgb(153, 153, 153); font-size: 11px; text-decoration: underline; margin-right: 4px;
}
div.itemComments ul.itemCommentsList li span.commentToolbar a:hover {
	color: rgb(85, 85, 85); font-size: 11px; text-decoration: underline;
}
div.itemComments ul.itemCommentsList li span.commentToolbarLoading {
	
}
div.itemCommentsPagination {
	margin: 0px 0px 20px; padding: 4px;
}
div.itemCommentsPagination span.pagination {
	clear: both; float: right; display: block;
}
div.itemCommentsForm h3 {
	margin: 0px; padding: 0px;
}
div.itemCommentsForm p.itemCommentsFormNotes {
	
}
div.itemCommentsForm form {
	
}
div.itemCommentsForm form label.formComment {
	margin: 0px; display: block;
}
div.itemCommentsForm form label.formName {
	margin: 0px; display: block;
}
div.itemCommentsForm form label.formEmail {
	margin: 0px; display: block;
}
div.itemCommentsForm form label.formUrl {
	margin: 0px; display: block;
}
div.itemCommentsForm form label.formRecaptcha {
	margin: 0px; display: block;
}
div.itemCommentsForm form textarea.inputbox {
	background: rgb(255, 255, 255); margin: 0px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 97%; height: 160px; color: rgb(106, 106, 106); display: block;
}
div.itemCommentsForm form input.inputbox {
	background: rgb(255, 255, 255); margin: 0px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 90%; color: rgb(106, 106, 106); display: block;
}
div.itemCommentsForm form span#formLog {
	margin: 0px 0px 0px 20px; padding: 0px 0px 0px 20px; color: rgb(207, 25, 25); font-weight: bold;
}
div.itemCommentsForm form .formLogLoading {
	
}
div.k2ReportCommentFormContainer {
	margin: 0px auto; padding: 8px; width: 480px;
}
div.k2ReportCommentFormContainer blockquote {
	background: rgb(247, 250, 254); margin: 0px 0px 8px; padding: 8px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 462px;
}
div.k2ReportCommentFormContainer blockquote span.quoteIconLeft {
	color: rgb(19, 92, 174); line-height: 30px; font-size: 40px; font-style: italic; font-weight: bold; vertical-align: top; float: left; display: block;
}
div.k2ReportCommentFormContainer blockquote span.quoteIconRight {
	color: rgb(19, 92, 174); line-height: 30px; font-size: 40px; font-style: italic; font-weight: bold; vertical-align: top; float: right; display: block;
}
div.k2ReportCommentFormContainer blockquote span.theComment {
	padding: 0px 4px; color: rgb(0, 0, 0); font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; font-style: italic; font-weight: normal;
}
div.k2ReportCommentFormContainer form label {
	font-weight: bold; display: block;
}
div.k2ReportCommentFormContainer form input {
	margin: 0px 0px 8px; padding: 2px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 474px; font-size: 12px; display: block;
}
div.k2ReportCommentFormContainer form textarea {
	margin: 0px 0px 8px; padding: 2px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 474px; font-size: 12px; display: block;
}
div.k2ReportCommentFormContainer form #recaptcha {
	margin-bottom: 24px;
}
div.k2ReportCommentFormContainer form span#formLog {
	margin: 0px 0px 0px 20px; padding: 0px 0px 0px 20px; color: rgb(207, 25, 25); font-weight: bold;
}
div.k2ReportCommentFormContainer form .formLogLoading {
	
}
div.itemBackToTop {
	text-align: right;
}
div.itemBackToTop a {
	text-decoration: underline;
}
div.itemBackToTop a:hover {
	text-decoration: underline;
}
div.itemListCategoriesBlock {
	
}
span.catItemAddLink {
	margin: 0px 0px 4px; padding: 8px 0px; text-align: right; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted; display: block;
}
span.catItemAddLink a {
	background: rgb(238, 238, 238); padding: 4px 16px; border: 1px solid rgb(204, 204, 204); border-image: none; text-decoration: none;
}
span.catItemAddLink a:hover {
	background: rgb(255, 255, 204);
}
div.itemListCategory img {
	background: rgb(255, 255, 255); margin: 0px 8px 0px 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none; float: left; display: block;
}
div.itemListCategory h2 {
	margin: 0px 0px 7px 10px; color: rgb(54, 54, 54); text-transform: uppercase;
}
div.itemListCategory p {
	
}
div.itemListSubCategories {
	
}
div.itemListSubCategories h3 {
	margin: 0px; color: rgb(54, 54, 54); text-transform: uppercase; font-size: 160%;
}
div.subCategoryContainer {
	text-align: center; float: left;
}
div.subCategoryContainer a.readon {
	float: left;
}
div.subCategoryContainer a:hover {
	color: rgb(29, 29, 29);
}
div.subCategoryContainerLast {
	
}
div.subCategory {
	margin: 0px 15px; padding: 20px 0px; text-align: left; border-bottom-color: rgb(196, 196, 196); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.subCategory a.subCategoryImage {
	text-align: center; display: block;
}
div.subCategory a.subCategoryImage:hover {
	text-align: center; display: block;
}
div.subCategory a.subCategoryImage img {
	background: rgb(255, 255, 255); margin: 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
div.subCategory a.subCategoryImage:hover img {
	background: rgb(255, 255, 255); margin: 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
div.subCategory h3 {
	margin: 20px 0px 0px; width: 100%; color: rgb(54, 54, 54); line-height: 100%;
}
div.subCategory h3 a {
	
}
div.subCategory h3 a:hover {
	
}
div.subCategory p {
	width: 100%; clear: both;
}
.itemList {
	padding: 0px 10px;
}
div.itemList {
	
}
div#itemListLeading {
	
}
div#itemListPrimary {
	
}
div#itemListSecondary {
	
}
div#itemListLinks {
	background: rgb(247, 250, 254); margin: 8px 0px; padding: 8px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
div.itemContainer {
	float: left;
}
div.itemContainerLast {
	
}
div.catItemView {
	padding: 20px 0px; border-bottom-color: rgb(196, 196, 196); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.groupLeading {
	
}
div.groupPrimary {
	
}
div.groupSecondary {
	
}
div.groupLinks {
	margin: 0px; padding: 0px;
}
div.catItemIsFeatured {
	
}
span.catItemEditLink {
	margin: 0px; padding: 4px 0px; width: 120px; text-align: right; float: right; display: block;
}
span.catItemEditLink a {
	background: rgb(238, 238, 238); padding: 2px 12px; border: 1px solid rgb(204, 204, 204); border-image: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none;
}
span.catItemEditLink a:hover {
	background: rgb(255, 255, 204);
}
div.catItemHeader {
	overflow: hidden;
}
div.catItemHeader span.catItemDateCreated {
	margin: 0px 20px 0px 0px; padding: 0px; color: rgb(153, 153, 153); float: left;
}
div.catItemHeader h3.catItemTitle {
	margin: 0px; padding: 0px 0px 5px; line-height: 100%; font-size: 160%; font-weight: normal;
}
div.catItemHeader h3.catItemTitle span {
	
}
div.catItemHeader h3.catItemTitle span sup {
	color: rgb(207, 25, 25); font-size: 12px; text-decoration: none;
}
div.catItemHeader span.catItemAuthor {
	margin: 0px 20px 0px 0px; padding: 0px; float: left; display: block;
}
div.catItemHeader span.catItemAuthor a {
	
}
div.catItemHeader span.catItemAuthor a:hover {
	
}
span.catItemAuthor span {
	padding: 0px 0px 0px 20px;
}
div.catItemCommentsLink {
	margin: 0px; padding: 0px; float: left;
}
div.iheader {
background-image: url(../images/bg_tp.gif);
	margin: 7px 0px 20px; padding: 0px 15px; height: 28px; text-align: center; line-height: 28px; border-top-color: rgb(240, 240, 240); border-bottom-color: rgb(240, 240, 240); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
div.iheader span.catItemDateCreated {
	padding: 0px; float: left;
}
div.iheader span.catItemAuthor {
	
}
div.iheader span.catItemAuthor span {
	padding: 0px;
}
div.iheader div.catItemCommentsLink {
	padding: 0px 0px 0px 20px; float: right;
}
.cform {
	margin: 0px 0px 20px; width: 100%; float: left;
}
.cform-item {
	width: 32%; float: left;
}
.cform-item3 {
	margin: 0px 3px; width: 32%; float: left;
}
.cform-item2 {
	margin: 0px 0px 20px; width: 100%; float: left;
}
div.catItemRatingBlock {
	padding: 8px 0px;
}
div.catItemRatingBlock span {
	margin: 0px; padding: 0px 4px 0px 0px; color: rgb(153, 153, 153); font-style: normal; float: left; display: block;
}
div.catItemBody {
	margin: 0px; padding: 0px; width: 100%; float: right;
}
a.catItemImage {
	margin: 0px 20px 0px 0px; float: left;
}
a.catItemImage img {
	background: 0px 0px rgb(255, 255, 255); margin: 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
a.catItemImage:hover img {
	background: 0px 0px rgb(255, 255, 255); margin: 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
div.catItemIntroText {
	padding: 0px; line-height: inherit; font-size: inherit; font-weight: normal;
}
div.catItemIntroText p {
	margin: 0px;
}
div.catItemIntroText img {
	
}
div.catItemExtraFields {
	margin: 16px 0px 0px; padding: 8px 0px 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: dotted;
}
div.genericItemExtraFields {
	margin: 16px 0px 0px; padding: 8px 0px 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: dotted;
}
div.catItemExtraFields h4 {
	margin: 0px; padding: 0px 0px 8px; line-height: normal !important;
}
div.genericItemExtraFields h4 {
	margin: 0px; padding: 0px 0px 8px; line-height: normal !important;
}
div.catItemExtraFields ul {
	list-style: none; margin: 0px; padding: 0px;
}
div.genericItemExtraFields ul {
	list-style: none; margin: 0px; padding: 0px;
}
div.catItemExtraFields ul li {
	display: block;
}
div.genericItemExtraFields ul li {
	display: block;
}
div.catItemExtraFields ul li span.catItemExtraFieldsLabel {
	margin: 0px 4px 0px 0px; width: 30%; font-weight: bold; float: left; display: block;
}
div.genericItemExtraFields ul li span.genericItemExtraFieldsLabel {
	margin: 0px 4px 0px 0px; width: 30%; font-weight: bold; float: left; display: block;
}
div.catItemExtraFields ul li span.catItemExtraFieldsValue {
	
}
div.catItemLinks {
	margin: 0px; padding: 0px;
}
div.catItemHitsBlock {
	padding: 4px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
span.catItemHits {
	
}
div.catItemCategory {
	padding: 4px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.catItemCategory span {
	padding: 0px 4px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.catItemCategory a {
	
}
div.catItemTagsBlock {
	padding: 4px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.catItemTagsBlock span {
	padding: 0px 4px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.catItemTagsBlock ul.catItemTags {
	list-style: none; margin: 0px; padding: 0px; display: inline;
}
div.catItemTagsBlock ul.catItemTags li {
	list-style: none; margin: 0px; padding: 0px 4px 0px 0px; text-align: center; display: inline;
}
div.catItemTagsBlock ul.catItemTags li a {
	
}
div.catItemTagsBlock ul.catItemTags li a:hover {
	
}
div.catItemAttachmentsBlock {
	padding: 4px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.catItemAttachmentsBlock span {
	padding: 0px 4px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.catItemAttachmentsBlock ul.catItemAttachments {
	list-style: none; margin: 0px; padding: 0px; display: inline;
}
div.catItemAttachmentsBlock ul.catItemAttachments li {
	list-style: none; margin: 0px; padding: 0px 4px; text-align: center; display: inline;
}
div.catItemAttachmentsBlock ul.catItemAttachments li a {
	
}
div.catItemAttachmentsBlock ul.catItemAttachments li a:hover {
	
}
div.catItemAttachmentsBlock ul.catItemAttachments li span {
	color: rgb(153, 153, 153); font-size: 10px; font-weight: normal;
}
div.catItemVideoBlock {
	margin: 0px 0px 16px; padding: 16px;
}
div.catItemVideoBlock div.catItemVideoEmbedded {
	text-align: center;
}
div.catItemVideoBlock span.catItemVideo {
	display: block;
}
div.catItemImageGallery {
	margin: 0px 0px 16px; padding: 0px;
}
div.catItemReadMore {
	float: left; display: inline;
}
div.catItemReadMore a {
	
}
div.catItemReadMore a:hover {
	
}
span.catItemDateModified {
	margin: 4px 0px; padding: 4px; text-align: right; color: rgb(153, 153, 153); border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; display: block;
}
.userView#k2Container {
	padding: 0px 15px;
}
div.userBlock {
	background: rgb(238, 238, 238); margin: 0px 0px 16px; padding: 8px; border: 1px solid rgb(221, 221, 221); border-image: none; clear: both;
}
span.userItemAddLink {
	margin: 0px 0px 4px; padding: 8px 0px; text-align: right; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted; display: block;
}
span.userItemAddLink a {
	background: rgb(238, 238, 238); padding: 4px 16px; border: 1px solid rgb(204, 204, 204); border-image: none; text-decoration: none;
}
span.userItemAddLink a:hover {
	background: rgb(255, 255, 204);
}
div.userBlock img {
	background: rgb(255, 255, 255); margin: 0px 8px 0px 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none; float: left; display: block;
}
div.userBlock h2 {
	margin: 5px 0px 0px; font-size: 200%;
}
div.userBlock div.userDescription {
	padding: 0px;
}
div.userBlock div.userDescription p {
	margin: 5px 0px;
}
div.userBlock div.userAdditionalInfo {
	margin: 0px; padding: 0px;
}
span.userURL {
	color: rgb(85, 85, 85); font-weight: bold; display: block;
}
span.userEmail {
	color: rgb(85, 85, 85); font-weight: bold; display: block;
}
div.userItemList {
	
}
div.userItemView {
	
}
div.userItemIsFeatured {
	
}
div.userItemViewUnpublished {
	background: rgb(255, 255, 242); margin: 8px 0px; padding: 8px; border: 4px dashed rgb(204, 204, 204); border-image: none; opacity: 0.9;
}
span.userItemEditLink {
	margin: 0px; padding: 4px 0px; width: 120px; text-align: right; float: right; display: block;
}
span.userItemEditLink a {
	background: rgb(238, 238, 238); padding: 2px 12px; border: 1px solid rgb(204, 204, 204); border-image: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; text-decoration: none;
}
span.userItemEditLink a:hover {
	background: rgb(255, 255, 204);
}
div.userItemHeader {
	
}
div.userItemHeader span.userItemDateCreated {
	margin: 0px 20px 0px 0px; padding: 0px; color: rgb(153, 153, 153); float: left;
}
div.userItemHeader h3.userItemTitle {
	margin: 0px; padding: 0px 0px 5px; line-height: 100%; font-size: 160%; font-weight: normal;
}
div.userItemHeader h3.userItemTitle span {
	
}
div.userItemHeader h3.userItemTitle span sup {
	color: rgb(207, 25, 25); font-size: 12px; text-decoration: none;
}
div.userItemHeader div.userItemCategory {
	margin: 0px 20px 0px 0px; padding: 0px; float: left; display: block;
}
div.userItemHeader div.userItemCommentsLink {
	margin: 0px 20px 0px 0px; padding: 0px; display: block;
}
div.userItemHeader div.userItemCommentsLink a {
	
}
div.userItemHeader div.userItemCommentsLink a:hover {
	
}
div.userItemBody {
	margin: 0px; padding: 20px 0px; border-bottom-color: rgb(196, 196, 196); border-bottom-width: 1px; border-bottom-style: dotted; float: left; max-width: 100%;
}
div.userItemImageBlock {
	margin: 0px; padding: 0px; float: left;
}
span.userItemImage {
	margin: 0px 8px 8px 0px; text-align: center; display: block;
}
span.userItemImage img {
	padding: 8px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
div.userItemIntroText {
	padding: 0px; line-height: inherit; font-size: inherit; font-weight: normal;
}
div.userItemIntroText img {
	background: 0px 0px rgb(255, 255, 255); margin: 0px 10px 0px 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none; float: left;
}
div.userItemLinks {
	margin: 0px 0px 16px; padding: 0px;
}
div.userItemTagsBlock {
	padding: 4px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.userItemTagsBlock span {
	padding: 0px 4px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.userItemTagsBlock ul.userItemTags {
	list-style: none; margin: 0px; padding: 0px; display: inline;
}
div.userItemTagsBlock ul.userItemTags li {
	list-style: none; margin: 0px; padding: 0px 4px 0px 0px; text-align: center; display: inline;
}
div.userItemTagsBlock ul.userItemTags li a {
	
}
div.userItemTagsBlock ul.userItemTags li a:hover {
	
}
div.userItemReadMore {
	float: left; display: inline;
}
div.userItemReadMore a {
	
}
div.userItemReadMore a:hover {
	
}
div.tagView {
	
}
div.tagItemList {
	padding: 0px 15px;
}
div.tagItemView {
	margin: 0px;
}
div.tagItemHeader {
	
}
div.tagItemHeader span.tagItemDateCreated {
	margin: 0px 20px 0px 0px; padding: 0px; color: rgb(153, 153, 153);
}
div.tagItemHeader h3.tagItemTitle {
	margin: 0px; padding: 0px 0px 5px; line-height: 100%; font-size: 160%; font-weight: normal;
}
div.tagItemBody {
	padding: 20px 0px; border-bottom-color: rgb(196, 196, 196); border-bottom-width: 1px; border-bottom-style: dotted; float: left; max-width: 100%;
}
div.tagItemImageBlock {
	margin: 0px; padding: 0px; float: left;
}
span.tagItemImage {
	margin: 0px 8px 8px 0px; text-align: center; display: block;
}
span.tagItemImage img {
	padding: 8px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
div.tagItemIntroText {
	padding: 4px 0px 12px; line-height: inherit; font-size: inherit; font-weight: normal;
}
div.tagItemIntroText img {
	
}
div.tagItemExtraFields {
	
}
div.tagItemExtraFields h4 {
	
}
div.tagItemExtraFields ul {
	
}
div.tagItemExtraFields ul li {
	
}
div.tagItemExtraFields ul li span.tagItemExtraFieldsLabel {
	
}
div.tagItemExtraFields ul li span.tagItemExtraFieldsValue {
	
}
div.tagItemCategory {
	float: right;
}
div.tagItemCategory span {
	padding: 0px 4px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.tagItemCategory a {
	
}
div.tagItemReadMore {
	float: left;
}
div.tagItemReadMore a {
	
}
div.tagItemReadMore a:hover {
	
}
div.genericView {
	
}
div.genericItemList {
	
}
div.genericItemView {
	margin: 0px 0px 16px; padding: 8px 0px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.genericItemHeader {
	
}
div.genericItemHeader span.genericItemDateCreated {
	color: rgb(153, 153, 153); font-size: 11px;
}
div.genericItemHeader h2.genericItemTitle {
	margin: 0px; padding: 10px 0px 4px; line-height: 110%; font-family: Georgia, "Times New Roman", Times, serif; font-size: 24px; font-weight: normal;
}
div.genericItemBody {
	margin: 0px; padding: 8px 0px;
}
div.genericItemImageBlock {
	margin: 0px; padding: 0px; float: left;
}
span.genericItemImage {
	margin: 0px 8px 8px 0px; text-align: center; display: block;
}
span.genericItemImage img {
	padding: 8px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
div.genericItemIntroText {
	padding: 4px 0px 12px; line-height: inherit; font-size: inherit; font-weight: normal;
}
div.genericItemIntroText img {
	
}
div.genericItemExtraFields {
	
}
div.genericItemExtraFields h4 {
	
}
div.genericItemExtraFields ul {
	
}
div.genericItemExtraFields ul li {
	
}
div.genericItemExtraFields ul li span.genericItemExtraFieldsLabel {
	
}
div.genericItemExtraFields ul li span.genericItemExtraFieldsValue {
	
}
div.genericItemCategory {
	margin: 0px 8px 0px 0px; padding: 0px 8px 0px 0px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; display: inline;
}
div.genericItemCategory span {
	padding: 0px 4px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.genericItemCategory a {
	
}
div.genericItemReadMore {
	display: inline;
}
div.genericItemReadMore a {
	
}
div.genericItemReadMore a:hover {
	
}
#k2Container div.gsc-branding-text {
	text-align: right;
}
#k2Container div.gsc-control {
	width: 100%;
}
#k2Container div.gs-visibleUrl {
	display: none;
}
div.latestItemsContainer {
	margin: 0px 0px 20px; float: left;
}
div.newsItemsContainer {
	background: rgb(255, 255, 255); border-width: 2px 1px 1px; border-style: solid; border-color: rgb(212, 18, 3) rgb(212, 215, 219) rgb(212, 215, 219); margin: 0px 0px 20px; border-image: none; float: left;
}
div.newsItemsContainer .news_items {
	
}
div.newsItemsContainer .news_items .newsItemsCategory {
	border-bottom-color: rgb(212, 215, 219); border-bottom-width: 1px; border-bottom-style: solid;
}
div.newsItemsContainer .news_items .newsItemsCategory h3 {
	margin: 15px 0px 10px 15px;
}
div.newsItemsContainer .news_items .latestItemList {
	padding: 15px;
}
div.newsItemsContainer .news_items .news_lastest_item {
	padding: 10px 0px; float: left;
}
div.newsItemsContainer .news_items .info {
	width: 75%; float: left;
}
div.newsItemsContainer .news_items .news-item-link {
	width: 100%; font-size: 120%; float: left;
}
div.newsItemsContainer .news_items .newsItemDateCreated {
	width: 100%; color: rgb(153, 153, 153); font-size: 95%; float: left;
}
div.newsItemsContainer .news_lastest_item a.news-item-image {
	background: rgb(255, 255, 255); margin: 0px 10px 0px 0px; padding: 2px; border: 1px solid rgb(221, 221, 221); border-image: none; float: left;
}
div.latestItemsCategory {
	margin: 0px; padding: 0px;
}
div.row-block {
	margin-bottom: 20px;
}
div.row-block div.latestItemsContainer {
	margin-bottom: 0px;
}
div.ItemsContainer {
	
}
div.latestItemsCategoryImage {
	text-align: center;
}
div.latestItemsCategoryImage img {
	background: rgb(255, 255, 255); margin: 0px 8px 0px 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 97%;
}
div.latestItemsCategory h3 {
	margin: 0px 0px 10px; text-transform: uppercase; font-size: 130%;
}
div.latestItemHeader a {
	padding: 0px; line-height: 25px;
}
div.latestItemViewLeading {
	margin: 0px 0px 10px; padding: 0px 0px 5px; border-bottom-color: rgb(196, 196, 196); border-bottom-width: 1px; border-bottom-style: dotted;
}
.leading-title {
	margin: 15px 0px 0px; font-size: 125%;
}
div.latestItemsUser {
	background: rgb(247, 250, 254); margin: 0px 8px 8px 0px; padding: 8px; border: 1px solid rgb(221, 221, 221); border-image: none; clear: both;
}
div.latestItemsUser img {
	background: rgb(255, 255, 255); margin: 0px 8px 0px 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none; float: left; display: block;
}
div.latestItemsUser h2 {
	
}
div.latestItemsUser p.latestItemsUserDescription {
	padding: 4px 0px;
}
div.latestItemsUser p.latestItemsUserAdditionalInfo {
	margin: 8px 0px 0px; padding: 4px 0px;
}
span.latestItemsUserURL {
	color: rgb(85, 85, 85); font-weight: bold; display: block;
}
span.latestItemsUserEmail {
	color: rgb(85, 85, 85); font-weight: bold; display: block;
}
div.latestItemList {
	padding: 0px;
}
div.latestItemView {
	
}
div.latestItemHeader {
	
}
div.latestItemHeader h3.latestItemTitle {
	margin: 0px; padding: 10px 0px 4px; line-height: 110%; font-family: Georgia, "Times New Roman", Times, serif; font-size: 24px; font-weight: normal;
}
span.latestItemDateCreated {
	color: rgb(153, 153, 153); font-size: 11px;
}
div.latestItemBody {
	margin: 0px; padding: 0px;
}
div.newslatestItemBody {
	margin: 0px; padding: 10px 0px;
}
div.latestItemImageBlock {
	margin: 0px; padding: 0px; width: 100%;
}
span.latestItemImage {
	margin: 0px; text-align: center; display: block;
}
span.latestItemImage img {
	background: rgb(249, 250, 252); padding: 4px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 97%;
}
div.latestItemIntroText {
	padding: 0px; line-height: inherit; font-size: inherit; font-weight: normal;
}
div.latestItemIntroText img {
	
}
div.latestItemLinks {
	margin: 0px 0px 16px; padding: 0px;
}
div.latestItemCategory {
	padding: 4px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.latestItemCategory span {
	padding: 0px 4px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.latestItemCategory a {
	
}
div.latestItemTagsBlock {
	padding: 4px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.latestItemTagsBlock span {
	padding: 0px 4px 0px 0px; color: rgb(85, 85, 85); font-weight: bold;
}
div.latestItemTagsBlock ul.latestItemTags {
	list-style: none; margin: 0px; padding: 0px; display: inline;
}
div.latestItemTagsBlock ul.latestItemTags li {
	list-style: none; margin: 0px; padding: 0px 4px 0px 0px; text-align: center; display: inline;
}
div.latestItemTagsBlock ul.latestItemTags li a {
	
}
div.latestItemTagsBlock ul.latestItemTags li a:hover {
	
}
div.latestItemVideoBlock {
	margin: 0px 0px 16px; padding: 16px;
}
div.latestItemVideoBlock span.latestItemVideo {
	display: block;
}
div.latestItemCommentsLink {
	margin: 0px 8px 0px 0px; padding: 0px 8px 0px 0px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; display: inline;
}
div.latestItemCommentsLink a {
	
}
div.latestItemCommentsLink a:hover {
	
}
div.latestItemReadMore {
	display: inline;
}
div.latestItemReadMore a {
	
}
div.latestItemReadMore a:hover {
	
}
h2.latestItemTitleList {
	margin: 8px 0px 2px; padding: 2px 0px; line-height: normal; font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
.k2AccountPage {
	
}
.k2AccountPage table {
	
}
.k2AccountPage table tr th {
	
}
.k2AccountPage table tr td {
	
}
.k2AccountPage table tr td label {
	white-space: nowrap;
}
img.k2AccountPageImage {
	margin: 10px 0px; padding: 0px; border: 4px solid rgb(221, 221, 221); border-image: none; display: block;
}
.k2AccountPage div.k2AccountPageNotice {
	padding: 8px;
}
.k2AccountPage div.k2AccountPageUpdate {
	margin: 8px 0px; padding: 8px; text-align: right; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: dotted;
}
.k2AccountPage th.k2ProfileHeading {
	background: rgb(246, 246, 246); padding: 8px; text-align: left; font-size: 18px;
}
.k2AccountPage td#userAdminParams {
	margin: 0px; padding: 0px;
}
.k2AccountPage table.admintable tr {
	padding: 10px 0px; width: 100%; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.k2AccountPage table.admintable td.key {
	width: 140px; text-align: right; color: rgb(102, 102, 102); font-size: 11px; font-weight: bold;
}
.k2AccountPage table.admintable td.paramlist_key {
	width: 140px; text-align: right; color: rgb(102, 102, 102); font-size: 11px; font-weight: bold;
}
.k2AccountPage .inputbox {
	margin: 0px 0px 0px 10px;
}
.k2AccountPage label {
	margin: 0px 10px 0px 0px; display: inline;
}
.k2AccountPage textarea {
	width: 280px !important;
}
.k2AccountPage table.admintable {
	
}
.k2AccountPage table.admintable tr td {
	
}
.k2AccountPage table.admintable tr td span {
	
}
.k2AccountPage table.admintable tr td span label {
	
}
div.k2LatestCommentsBlock {
	
}
div.k2LatestCommentsBlock ul {
	
}
div.k2LatestCommentsBlock ul li {
	
}
div.k2LatestCommentsBlock ul li.lastItem {
	
}
div.k2LatestCommentsBlock ul li a.lcAvatar img {
	
}
div.k2LatestCommentsBlock ul li a {
	
}
div.k2LatestCommentsBlock ul li a:hover {
	
}
div.k2LatestCommentsBlock ul li span.lcComment {
	
}
div.k2LatestCommentsBlock ul li span.lcUsername {
	
}
div.k2LatestCommentsBlock ul li span.lcCommentDate {
	color: rgb(153, 153, 153);
}
div.k2LatestCommentsBlock ul li span.lcItemTitle {
	
}
div.k2LatestCommentsBlock ul li span.lcItemCategory {
	
}
div.k2TopCommentersBlock {
	
}
div.k2TopCommentersBlock ul {
	
}
div.k2TopCommentersBlock ul li {
	
}
div.k2TopCommentersBlock ul li.lastItem {
	
}
div.k2TopCommentersBlock ul li a.tcAvatar img {
	
}
div.k2TopCommentersBlock ul li a.tcLink {
	
}
div.k2TopCommentersBlock ul li a.tcLink:hover {
	
}
div.k2TopCommentersBlock ul li span.tcUsername {
	
}
div.k2TopCommentersBlock ul li span.tcCommentsCounter {
	
}
div.k2TopCommentersBlock ul li a.tcLatestComment {
	
}
div.k2TopCommentersBlock ul li a.tcLatestComment:hover {
	
}
div.k2TopCommentersBlock ul li span.tcLatestCommentDate {
	color: rgb(153, 153, 153);
}
div.k2ItemsBlock {
	color: rgb(163, 163, 164);
}
.k2ItemsBlock .content-right {
	margin: 3px 0px; width: 75%; float: right;
}
div.k2ItemsBlock .content-action {
	width: 100%; font-style: italic; float: left;
}
div.k2ItemsBlock p.modulePretext {
	
}
div.k2ItemsBlock .moduleItemAuthor {
	display: none;
}
div.k2ItemsBlock p {
	margin: 0px; width: 76%; float: left;
}
div.k2ItemsBlock ul {
	margin: 0px; padding: 0px; width: 100%;
}
div.k2ItemsBlock ul li {
	margin: 0px; padding: 10px 0px; width: 100%; border-bottom-color: #234286; border-bottom-width: 1px; border-bottom-style: dotted; float: left;
}
div.k2ItemsBlock ul li.lastItem {
	border: currentColor; border-image: none;
}
div.k2ItemsBlock ul li .itemInfo {
	
}
div.k2ItemsBlock ul li .itemInfo .moduleItemTitle {
	width: 100%;
}
div.k2ItemsBlock ul li.firstItem {
	padding: 0px 0px 10px;
}
div.k2ItemsBlock ul li.lastItem {
	padding: 10px 0px;
}
div.k2ItemsBlock ul li a {
	margin: 0px; font-size: 105%;
}
div.k2ItemsBlock ul li a.moduleItemImage {
	float: left;
}
div.k2ItemsBlock ul li a:hover {
	
}
div.k2ItemsBlock ul li.lastItem {
	
}
div.rightk2ItemsBlock {
	padding: 0px 10px; color: rgb(163, 163, 164); overflow: hidden;
}
div.rightk2ItemsBlock .content-right {
	margin: 3px 0px; width: 75%; float: right;
}
div.rightk2ItemsBlock .content-action {
	width: 100%; font-style: italic; float: left;
}
div.rightk2ItemsBlock p.modulePretext {
	
}
div.rightk2ItemsBlock .moduleItemAuthor {
	display: none;
}
div.rightk2ItemsBlock p {
	margin: 0px; width: 76%; float: left;
}
div.rightk2ItemsBlock ul {
	margin: 0px; padding: 0px; width: 100%;
}
div.rightk2ItemsBlock ul li {
	margin: 0px; padding: 10px 0px; width: 100%; border-bottom-color: rgb(196, 196, 196); border-bottom-width: 1px; border-bottom-style: dotted; float: left;
}
div.rightk2ItemsBlock ul li .itemInfo {
	width: 68%; line-height: 17px; float: right;
}
div.rightk2ItemsBlock ul li .itemInfo a {
	width: 100%; display: block;
}
div.rightk2ItemsBlock ul li .itemInfo span {
	width: 100%; display: block;
}
div.rightk2ItemsBlock ul li .itemInfo .moduleItemTitle {
	width: 100%;
}
div.rightk2ItemsBlock ul li.firstItem {
	padding: 0px 0px 10px;
}
div.rightk2ItemsBlock ul li.lastItem {
	padding: 10px 0px; border: currentColor; border-image: none;
}
div.rightk2ItemsBlock ul li a {
	margin: 0px; float: left;
}
div.rightk2ItemsBlock ul li a.moduleItemImage {
	width: 28%;
}
div.rightk2ItemsBlock ul li a.moduleItemImage img {
	padding: 2px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
div.rightk2ItemsBlock ul li a:hover {
	
}
div.rightk2ItemsBlock ul li.lastItem {
	
}
div.k2ItemsBlock ul li a.moduleItemTitle {
	
}
div.k2ItemsBlock ul li a.moduleItemTitle:hover {
	
}
div.k2ItemsBlock ul li div.moduleItemAuthor {
	
}
div.k2ItemsBlock ul li div.moduleItemAuthor a {
	
}
div.k2ItemsBlock ul li div.moduleItemAuthor a:hover {
	
}
div.k2ItemsBlock ul li a.moduleItemAuthorAvatar img {
	
}
div.k2ItemsBlock ul li div.moduleItemIntrotext {
	padding: 4px 0px; width: 100%; line-height: 130%; float: left; display: block;
}
div.k2ItemsBlock ul li div.moduleItemIntrotext a.moduleItemImage img {
	margin: 0px 10px 0px 0px; padding: 0px; border: 2px solid rgb(57, 58, 59); border-image: none; float: right;
}
div.k2ItemsBlock ul li div.moduleItemExtraFields {
	
}
div.moduleItemExtraFields ul {
	
}
div.moduleItemExtraFields ul li {
	
}
div.moduleItemExtraFields ul li span.moduleItemExtraFieldsLabel {
	margin: 0px 4px 0px 0px; width: 30%; font-weight: bold; float: left; display: block;
}
div.moduleItemExtraFields ul li span.moduleItemExtraFieldsValue {
	
}
div.k2ItemsBlock ul li div.moduleItemVideo {
	
}
div.k2ItemsBlock ul li div.moduleItemVideo span.moduleItemVideoCaption {
	
}
div.k2ItemsBlock ul li div.moduleItemVideo span.moduleItemVideoCredits {
	
}
div.k2ItemsBlock ul li span.moduleItemDateCreated {
	font-size: 90%; font-style: italic; float: left;
}
div.k2ItemsBlock ul li a.moduleItemCategory {
	
}
div.k2ItemsBlock ul li div.moduleItemTags {
	
}
div.k2ItemsBlock ul li div.moduleItemTags b {
	
}
div.k2ItemsBlock ul li div.moduleItemTags a {
	padding: 0px 2px;
}
div.k2ItemsBlock ul li div.moduleItemTags a:hover {
	
}
div.k2ItemsBlock ul li div.moduleAttachments {
	
}
div.k2ItemsBlock ul li a.moduleItemComments {
	margin: 0px; padding: 0px;
}
div.k2ItemsBlock ul li a.moduleItemComments:hover {
	
}
div.k2ItemsBlock ul li span.moduleItemHits {
	margin: 0px 8px 0px 0px; padding: 0px 4px 0px 0px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
div.k2ItemsBlock ul li a.moduleItemReadMore {
	
}
div.k2ItemsBlock ul li a.moduleItemReadMore:hover {
	
}
div.k2ItemsBlock a.moduleCustomLink {
	
}
div.k2ItemsBlock a.moduleCustomLink:hover {
	
}
div.k2LoginBlock {
	
}
div.k2LoginBlock p.preText {
	
}
div.k2LoginBlock fieldset.input {
	margin: 0px; padding: 0px 0px 8px;
}
div.k2LoginBlock fieldset.input p {
	margin: 0px; padding: 0px 0px 4px;
}
div.k2LoginBlock fieldset.input p label {
	display: block;
}
div.k2LoginBlock fieldset.input p input {
	display: block;
}
div.k2LoginBlock fieldset.input p#form-login-remember label {
	display: inline;
}
div.k2LoginBlock fieldset.input p#form-login-remember input {
	display: inline;
}
div.k2LoginBlock fieldset.input input.button {
	
}
div.k2LoginBlock ul {
	
}
div.k2LoginBlock ul li {
	
}
div.k2LoginBlock p.postText {
	
}
div.k2UserBlock {
	
}
div.k2UserBlock p.ubGreeting {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.k2UserBlock div.k2UserBlockDetails a.ubAvatar img {
	
}
div.k2UserBlock div.k2UserBlockDetails span.ubName {
	font-size: 14px; font-weight: bold; display: block;
}
div.k2UserBlock div.k2UserBlockDetails span.ubCommentsCount {
	
}
div.k2UserBlock ul.k2UserBlockActions {
	
}
div.k2UserBlock ul.k2UserBlockActions li {
	
}
div.k2UserBlock ul.k2UserBlockActions li a {
	
}
div.k2UserBlock ul.k2UserBlockActions li a:hover {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu li {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu li a {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu li a:hover {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu li ul {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu li ul li {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu li ul li a {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu li ul ul {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu li ul ul li {
	
}
div.k2UserBlock ul.k2UserBlockRenderedMenu li ul ul li a {
	
}
div.k2UserBlock form {
	
}
div.k2UserBlock form input.ubLogout {
	
}
div.k2ArchivesBlock {
	
}
div.k2ArchivesBlock ul {
	
}
div.k2ArchivesBlock ul li {
	
}
div.k2ArchivesBlock ul li a {
	
}
div.k2ArchivesBlock ul li a:hover {
	
}
div.k2AuthorsListBlock {
	
}
div.k2AuthorsListBlock ul {
	
}
div.k2AuthorsListBlock ul li {
	
}
div.k2AuthorsListBlock ul li a.abAuthorAvatar img {
	
}
div.k2AuthorsListBlock ul li a.abAuthorName {
	
}
div.k2AuthorsListBlock ul li a.abAuthorName:hover {
	
}
div.k2AuthorsListBlock ul li a.abAuthorLatestItem {
	clear: both; display: block;
}
div.k2AuthorsListBlock ul li a.abAuthorLatestItem:hover {
	
}
div.k2AuthorsListBlock ul li span.abAuthorCommentsCount {
	
}
div.k2BreadcrumbsBlock {
	
}
div.k2BreadcrumbsBlock span.bcTitle {
	padding: 0px 4px 0px 0px; color: rgb(153, 153, 153);
}
div.k2BreadcrumbsBlock a {
	
}
div.k2BreadcrumbsBlock a:hover {
	
}
div.k2BreadcrumbsBlock span.bcSeparator {
	padding: 0px 4px; font-size: 14px;
}
div.k2CalendarBlock {
	height: 100%;
}
div.k2CalendarLoader {
	
}
table.calendar {
	background: rgb(255, 255, 255); margin: 0px auto; width: 100%; border-collapse: collapse;
}
table.calendar tr td {
	background: rgb(255, 255, 255); padding: 2px; border: 1px solid rgb(244, 244, 244); border-image: none; text-align: center; vertical-align: middle;
}
table.calendar tr td.calendarNavMonthPrev {
	background: rgb(243, 243, 243); text-align: left;
}
table.calendar tr td.calendarNavMonthPrev a {
	font-size: 20px; text-decoration: none;
}
table.calendar tr td.calendarNavMonthPrev a:hover {
	font-size: 20px; text-decoration: none;
}
table.calendar tr td.calendarCurrentMonth {
	background: rgb(243, 243, 243);
}
table.calendar tr td.calendarNavMonthNext {
	background: rgb(243, 243, 243); text-align: right;
}
table.calendar tr td.calendarNavMonthNext a {
	font-size: 20px; text-decoration: none;
}
table.calendar tr td.calendarNavMonthNext a:hover {
	font-size: 20px; text-decoration: none;
}
table.calendar tr td.calendarDayName {
	background: rgb(233, 233, 233); width: 14.2%; font-size: 11px;
}
table.calendar tr td.calendarDateEmpty {
	background: rgb(251, 251, 251);
}
table.calendar tr td.calendarDate {
	
}
table.calendar tr td.calendarDateLinked {
	padding: 0px;
}
table.calendar tr td.calendarDateLinked a {
	background: rgb(238, 238, 238); padding: 2px; text-decoration: none; display: block;
}
table.calendar tr td.calendarDateLinked a:hover {
	background: rgb(19, 92, 174); padding: 2px; color: rgb(255, 255, 255); text-decoration: none; display: block;
}
table.calendar tr td.calendarToday {
	background: rgb(19, 92, 174); color: rgb(255, 255, 255);
}
table.calendar tr td.calendarTodayLinked {
	background: rgb(19, 92, 174); padding: 0px; color: rgb(255, 255, 255);
}
table.calendar tr td.calendarTodayLinked a {
	padding: 2px; color: rgb(255, 255, 255); text-decoration: none; display: block;
}
table.calendar tr td.calendarTodayLinked a:hover {
	background: rgb(191, 217, 255); padding: 2px; text-decoration: none; display: block;
}
div.k2CategorySelectBlock {
	
}
div.k2CategorySelectBlock form select {
	width: auto;
}
div.k2CategorySelectBlock form select option {
	
}
div.k2CategoriesListBlock {
	
}
div.k2CategoriesListBlock ul {
	
}
div.k2CategoriesListBlock ul li {
	
}
div.k2CategoriesListBlock ul li a {
	
}
div.k2CategoriesListBlock ul li a:hover {
	
}
div.k2CategoriesListBlock ul li a span.catTitle {
	padding-right: 4px;
}
div.k2CategoriesListBlock ul li a span.catCounter {
	
}
div.k2CategoriesListBlock ul li a:hover span.catTitle {
	
}
div.k2CategoriesListBlock ul li a:hover span.catCounter {
	
}
div.k2CategoriesListBlock ul li.activeCategory {
	
}
div.k2CategoriesListBlock ul li.activeCategory a {
	font-weight: bold;
}
ul.level0 {
	
}
ul.level0 li {
	
}
ul.level0 li a {
	
}
ul.level0 li a:hover {
	
}
ul.level0 li a span {
	
}
ul.level0 li a:hover span {
	
}
ul.level1 {
	
}
ul.level1 li {
	
}
ul.level1 li a {
	
}
ul.level1 li a:hover {
	
}
ul.level1 li a span {
	
}
ul.level1 li a:hover span {
	
}
div.k2SearchBlock {
	position: relative;
}
div.k2SearchBlock form {
	
}
div.k2SearchBlock form input.inputbox {
	
}
div.k2SearchBlock form input.button {
	
}
div.k2SearchBlock form input.k2SearchLoading {
	
}
div.k2SearchBlock div.k2LiveSearchResults {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-image: none; margin-top: -1px; display: none; position: absolute; z-index: 99;
}
div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults {
	list-style: none; margin: 0px; padding: 0px;
}
div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults li {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults li a {
	padding: 1px 2px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: dotted; display: block;
}
div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults li a:hover {
	background: rgb(255, 255, 240);
}
div.k2TagCloudBlock {
	padding: 8px 0px;
}
div.k2TagCloudBlock a {
	padding: 4px; float: left; display: block;
}
div.k2TagCloudBlock a:hover {
	background: rgb(19, 92, 174); padding: 4px; color: rgb(255, 255, 255); text-decoration: none; float: left; display: block;
}
div.k2CustomCodeBlock {
	
}
div.k2UsersBlock {
	
}
div.k2UsersBlock ul {
	
}
div.k2UsersBlock ul li {
	
}
div.k2UsersBlock ul li.lastItem {
	
}
div.k2UsersBlock ul li a.ubUserAvatar img {
	
}
div.k2UsersBlock ul li a.ubUserName {
	
}
div.k2UsersBlock ul li a.ubUserName:hover {
	
}
div.k2UsersBlock ul li div.ubUserDescription {
	
}
div.k2UsersBlock ul li div.ubUserAdditionalInfo {
	
}
a.ubUserFeedIcon {
	background: url("../images/fugue/feed.png") no-repeat 50% 50%; margin: 0px 2px 0px 0px; padding: 0px; width: 16px; height: 16px; display: inline-block;
}
a.ubUserFeedIcon:hover {
	background: url("../images/fugue/feed.png") no-repeat 50% 50%; margin: 0px 2px 0px 0px; padding: 0px; width: 16px; height: 16px; display: inline-block;
}
a.ubUserFeedIcon span {
	display: none;
}
a.ubUserFeedIcon:hover span {
	display: none;
}
a.ubUserURL {
	background: url("../images/fugue/globe.png") no-repeat 50% 50%; margin: 0px 2px 0px 0px; padding: 0px; width: 16px; height: 16px; display: inline-block;
}
a.ubUserURL:hover {
	background: url("../images/fugue/globe.png") no-repeat 50% 50%; margin: 0px 2px 0px 0px; padding: 0px; width: 16px; height: 16px; display: inline-block;
}
a.ubUserURL span {
	display: none;
}
a.ubUserURL:hover span {
	display: none;
}
span.ubUserEmail {
	background: url("../images/fugue/mail.png") no-repeat 50% 50%; margin: 0px 2px 0px 0px; padding: 0px; width: 16px; height: 16px; overflow: hidden; display: inline-block;
}
span.ubUserEmail a {
	margin: 0px; padding: 0px; width: 16px; height: 16px; text-indent: -9999px; display: inline-block;
}
div.k2UsersBlock ul li h3 {
	margin: 8px 0px 0px; padding: 0px; clear: both;
}
div.k2UsersBlock ul li ul.ubUserItems {
	
}
div.k2UsersBlock ul li ul.ubUserItems li {
	
}
div#k2Container div.itemImage .modal {
	margin: 0px !important; border-radius: 0px !important; border: 0px currentColor !important; border-image: none !important; left: auto !important; top: auto !important; width: auto !important; overflow: auto; display: block; position: static !important; z-index: 1050; box-shadow: none !important; background-clip: padding-box;
}

.margintextndt{
	margin-left: 15px;
	margin-right: 15px;
	
}
