.nsp {
	position: relative;
}
.nspMain {
	overflow: hidden;
}
.nspBotInterface {
	margin: 5px 0px; overflow: hidden; clear: both; float: right;
}
.nspTopInterface {
	margin: 5px 0px; overflow: hidden; clear: both; float: right;
}
.nspPagination {
	margin: 5px 0px 0px !important; padding: 0px !important; float: left; list-style-type: none !important;
}
.nspPagination li {
	background: rgb(204, 204, 204); margin: 1px 4px 0px 0px !important; padding: 0px !important; border-radius: 50%; width: 14px; height: 14px; text-indent: -999em; float: left; cursor: pointer; -webkit-border-radius: 50%; -moz-border-radius: 50%;
}
.nspPagination li:hover {
	background-color: rgb(153, 153, 153);
}
.nspPagination li.active {
	background-color: rgb(153, 153, 153);
}
.nspNext {
	background: rgb(255, 255, 255); margin: 0px 0px 0px 4px; border-radius: 50%; border: 2px solid rgb(204, 204, 204); border-image: none; width: 24px; height: 24px; text-indent: -999px; float: left; cursor: pointer; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-border-radius: 50%; -moz-border-radius: 50%;
}
.nspPrev {
	background: rgb(255, 255, 255); margin: 0px 0px 0px 4px; border-radius: 50%; border: 2px solid rgb(204, 204, 204); border-image: none; width: 24px; height: 24px; text-indent: -999px; float: left; cursor: pointer; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-border-radius: 50%; -moz-border-radius: 50%;
}
.nspPrev::before {
	border-width: 7px 10px 7px medium; border-style: solid solid solid none; border-color: transparent rgb(204, 204, 204) transparent currentColor; margin: 3px 0px 0px 4px; border-image: none; float: left; display: block; content: "";
}
.nspNext::before {
	border-width: 7px medium 7px 10px; border-style: solid none solid solid; border-color: transparent currentColor transparent rgb(204, 204, 204); margin: 3px 0px 0px 6px; border-image: none; float: left; display: block; content: "";
}
.nspNext:hover {
	border-color: rgb(153, 153, 153);
}
.nspPrev:hover {
	border-color: rgb(153, 153, 153);
}
.nspPrev:hover::before {
	border-right-color: rgb(153, 153, 153);
}
.nspNext:hover::before {
	border-left-color: rgb(153, 153, 153);
}
.nspArts {
	padding: 3px; overflow: hidden; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.nspArtPage {
	float: left;
}
.nspArt {
	float: left; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.nspArt div {
	overflow: hidden;
}
.nspArt h4.nspHeader {
	margin: 0px; padding: 10px 0px 15px; font-size: 24px;
}
.nspArt h4.nspHeader a {
	text-decoration: none;
}
.nspArt h4.nspHeader a:hover {
	
}
.nspArt img.nspImage {
	border: currentColor; border-image: none; display: block;
}
.nspArt .nspImageWrapper {
	display: block;
}
.nspArt p.nspText {
	margin: 0px; padding: 0px !important; display: block !important;
}
.nspArt p.nspText a {
	
}
.nspArt p.nspText a:hover {
	
}
.nspArt p.nspInfo {
	font-size: 90%; display: block !important;
}
.nspArt p.nspInfo a {
	
}
.nspArt p.nspInfo a:hover {
	
}
.nspArt p.nspInfo > .nsp-stars {
	padding: 0px 10px 0px 0px !important;
}
.nspArt .nsp-star-0::before {
	color: rgb(108, 108, 108); font-family: Arial, sans-serif; font-size: 14px; content: "?";
}
.nspArt .nsp-star-1::before {
	color: rgb(108, 108, 108); font-family: Arial, sans-serif; font-size: 14px; content: "?";
}
.nspArt .nsp-star-1::before {
	color: rgb(247, 168, 52);
}
.nspArt .tleft {
	text-align: left;
}
.nspArt .tright {
	text-align: right;
}
.nspArt .tcenter {
	text-align: center;
}
.nspArt .tjustify {
	text-align: justify;
}
.nspArt .fleft {
	float: left;
}
.nspArt .fright {
	float: right;
}
.nspArt .fnone {
	width: 100%; clear: both; float: none;
}
.left.readon {
	clear: both;
}
.right.readon {
	clear: both;
}
.center.readon {
	clear: both;
}
.left.readon {
	float: left;
}
.right.readon {
	float: right;
}
.center.readon {
	float: none; display: inline;
}
.nspAvatar {
	
}
.nspLinks {
	padding: 3px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.nspList {
	float: left;
}
.nspLinks ul {
	padding: 0px !important; list-style-type: none !important;
}
.nspLinks .nspLinkScroll1 ul li {
	background: rgb(255, 255, 255); margin: 0px !important; padding: 10px 0px; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.nspLinks .nspLinkScroll1 ul li:first-child {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.nspLinks ul li:hover {
	
}
.nspLinks ul li h4 {
	
}
.nspLinks ul li h4 a {
	text-decoration: none;
}
.nspLinks ul li h4 a:hover {
	
}
.nspLinks ul li p {
	
}
.left.nspArts {
	float: right;
}
.left.nspLinksWrap {
	float: left;
}
.right.nspArts {
	float: left;
}
.right.nspLinksWrap {
	float: right;
}
.nspMain .unvisible {
	left: -9999px; top: auto; position: absolute;
}
.gkResponsive img.nspImage {
	width: 100% !important; height: auto;
}
img.gkResponsive.nspImage {
	width: 100% !important; height: auto;
}
.nspArt img.nspImage {
	max-width: 100%;
}
.nspArtScroll1 {
	width: 100%; clear: both;
}
.nspLinkScroll1 {
	width: 100%; clear: both;
}
.nspPages1 {
	width: 100%;
}
.nspPages2 {
	width: 200%;
}
.nspPages3 {
	width: 300%;
}
.nspPages4 {
	width: 400%;
}
.nspPages5 {
	width: 500%;
}
.nspPages6 {
	width: 600%;
}
.nspPages7 {
	width: 700%;
}
.nspPages8 {
	width: 800%;
}
.nspPages9 {
	width: 900%;
}
.nspPages10 {
	width: 1000%;
}
.nspCol1 {
	width: 100%;
}
.nspCol2 {
	width: 50%;
}
.nspCol3 {
	width: 33.33%;
}
.nspCol4 {
	width: 25%;
}
.nspCol5 {
	width: 20%;
}
.nspCol6 {
	width: 16.66%;
}
.nspCol7 {
	width: 14.28%;
}
.nspCol8 {
	width: 12.5%;
}
.nspCol9 {
	width: 11.11%;
}
.nspCol10 {
	width: 10%;
}
.nspCol11 {
	width: 9.09%;
}
.nspCol12 {
	width: 8.33%;
}
.nspCol13 {
	width: 7.69%;
}
.nspCol14 {
	width: 7.14%;
}
.nspCol15 {
	width: 6.66%;
}
.nspCol16 {
	width: 6.25%;
}
.nspCol17 {
	width: 5.88%;
}
.nspCol18 {
	width: 5.55%;
}
.nspCol19 {
	width: 5.26%;
}
.nspCol20 {
	width: 5%;
}
.nspList {
	transition:opacity 0.5s ease-out; opacity: 0; -webkit-transition: opacity 0.5s ease-out; -moz-transition: opacity 0.5s ease-out; -o-transition: opacity 0.5s ease-out;
}
.nspArtPage {
	transition:opacity 0.5s ease-out; opacity: 0; -webkit-transition: opacity 0.5s ease-out; -moz-transition: opacity 0.5s ease-out; -o-transition: opacity 0.5s ease-out;
}
.active.nspList {
	opacity: 1;
}
.active.nspArtPage {
	opacity: 1;
}
.neutral {
	color: rgb(153, 153, 153); font-size: 13px;
}
.neutral a {
	color: rgb(51, 51, 51); text-decoration: none;
}
.neutral a:active {
	color: rgb(119, 119, 119);
}
.neutral a:focus {
	color: rgb(119, 119, 119);
}
.neutral a:hover {
	color: rgb(119, 119, 119);
}
.neutral .nspHeader {
	font-size: 18px; font-weight: 400;
}
.neutral .nspInfo a {
	padding-right: 5px;
}
.neutral .readon {
	background: rgb(51, 51, 51); padding: 6px 10px; border-radius: 3px; color: rgb(255, 255, 255); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.neutral .readon:active {
	background: rgb(153, 153, 153); color: rgb(255, 255, 255);
}
.neutral .readon:focus {
	background: rgb(153, 153, 153); color: rgb(255, 255, 255);
}
.neutral .readon:hover {
	background: rgb(153, 153, 153); color: rgb(255, 255, 255);
}
.neutral .nspLinks ul li h4 {
	margin: 0px 0px 10px; font-size: 15px;
}
@media all and (max-width:800px)
{
.nspArts {
	padding: 0px 32px; overflow: hidden; position: relative; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.nspLinksWrap {
	padding: 0px 32px; overflow: hidden; position: relative; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.nspPrev {
	left: 0px; top: 20%; position: absolute; z-index: 101;
}
.nspNext {
	left: 0px; top: 20%; position: absolute; z-index: 101;
}
.nspNext {
	left: auto; right: 0px;
}
.nspPagination {
	display: none;
}
}
@media all and (max-width:600px)
{
.nspArt {
	width: 100%;
}
}
