.clearfix {
	
}
.clearfix::before {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.hide-text {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.input-block-level {
	width: 100%; display: block; min-height: 30px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.form-horizontal .control-label {
	text-align: left !important;
}
.element-invisible {
	display: none;
}
input[type='submit'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='button'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
textarea {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='text'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='password'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='datetime'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='datetime-local'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='date'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='month'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='time'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='week'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='number'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='email'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='url'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='search'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='tel'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='color'] {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.uneditable-input {
	padding: 4px 6px; border-radius: 0px; border: 1px solid rgb(235, 235, 235); border-image: none; margin-bottom: 10px; min-height: 30px; box-shadow: none; text-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
input[type='submit']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='submit']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='button']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='button']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
textarea:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
textarea:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='text']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='text']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='password']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='password']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='datetime']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='datetime']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='datetime-local']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='datetime-local']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='date']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='date']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='month']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='month']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='time']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='time']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='week']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='week']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='number']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='number']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='email']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='email']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='url']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='url']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='search']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='search']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='tel']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='tel']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='color']:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
input[type='color']:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.uneditable-input:hover {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.uneditable-input:focus {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
dt {
	margin: 0px 15px 0px 0px; color: rgb(133, 133, 133);
}
dd {
	margin: 0px 15px 0px 0px; color: rgb(133, 133, 133);
}
legend {
	padding-bottom: 15px; font-weight: 300;
}
.dropdown-menu {
	border: 1px solid rgb(226, 226, 226); border-image: none; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.item-page .full-item {
	display: block; max-width: 100%;
}
dt.article-info-term {
	display: none;
}
dl.article-info-bottom {
	width: 100%; overflow: hidden; font-size: 11px; margin-bottom: 15px; display: block;
}
dl.article-info-top {
	width: 100%; overflow: hidden; font-size: 11px; margin-bottom: 15px; display: block;
}
dl.article-info-top dd {
	float: left;
}
dl.article-info-bottom dd {
	margin: 0px 10px 0px 0px; float: left;
}
dd span.icon-eye-open {
	margin-top: -1px; position: relative; opacity: 0.8;
}
dd span.icon-time {
	margin-top: -1px; position: relative; opacity: 0.8;
}
.tags {
	list-style: none; margin: 0px; padding: 0px; float: left;
}
.tags span {
	height: 24px; line-height: 24px; font-size: 11px; float: left; position: relative;
}
.tags span a {
	background: rgb(85, 85, 85); padding: 0px 10px 0px 12px; height: 24px; color: rgb(255, 255, 255); line-height: 24px; font-size: 11px; text-decoration: none; margin-left: 20px; float: left; position: relative; border-top-right-radius: 4px; border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
}
.tags span a::before {
	border-width: 12px 12px 12px 0px; border-style: solid; border-color: transparent rgb(85, 85, 85) transparent transparent; left: -11px; top: 0px; width: 0px; height: 0px; float: left; position: absolute; content: "";
}
.tags span a::after {
	background: rgb(255, 255, 255); border-radius: 2px; left: 0px; top: 10px; width: 4px; height: 4px; float: left; position: absolute; content: ""; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.tags span a:hover {
	background: rgb(127, 190, 84) !important;
}
.tags span a:hover::before {
	border-color: transparent rgb(127, 190, 84) transparent transparent;
}
ul.list-striped {
	list-style: none;
}
.img-intro-left img {
	overflow: hidden; max-width: 100%;
}
.img-intro-right img {
	overflow: hidden; max-width: 100%;
}
.img-intro-none img {
	overflow: hidden; max-width: 100%;
}
.item-image img {
	overflow: hidden; max-width: 100%;
}
.img-fulltext-right img {
	overflow: hidden; max-width: 100%;
}
.img-fulltext-left img {
	overflow: hidden; max-width: 100%;
}
.img_caption img {
	overflow: hidden; max-width: 100%;
}
.ie8 .img-intro-left img {
	border: 0px currentColor; border-image: none; width: 100%; vertical-align: middle; display: inline-block; -ms-interpolation-mode: bicubic;
}
.ie8 .img-intro-right img {
	border: 0px currentColor; border-image: none; width: 100%; vertical-align: middle; display: inline-block; -ms-interpolation-mode: bicubic;
}
.ie8 .img-intro-none img {
	border: 0px currentColor; border-image: none; width: 100%; vertical-align: middle; display: inline-block; -ms-interpolation-mode: bicubic;
}
.ie8 .item-image img {
	border: 0px currentColor; border-image: none; width: 100%; vertical-align: middle; display: inline-block; -ms-interpolation-mode: bicubic;
}
.ie8 .img-fulltext-right img {
	border: 0px currentColor; border-image: none; width: 100%; vertical-align: middle; display: inline-block; -ms-interpolation-mode: bicubic;
}
.ie8 .img-fulltext-left img .ie8 .img-wrapper {
	border: 0px currentColor; border-image: none; width: 100%; vertical-align: middle; display: inline-block; -ms-interpolation-mode: bicubic;
}
.ie8 .img_caption img {
	border: 0px currentColor; border-image: none; width: 100%; vertical-align: middle; display: inline-block; -ms-interpolation-mode: bicubic;
}
.item-page .img-wrapper {
	margin-top: 6px;
}
.img-intro-none .img-wrapper {
	background: none;
}
.item-image.pull-none .img-wrapper {
	background: none;
}
.left.img_caption {
	margin: 20px 0px; float: left;
}
.img-intro-left {
	margin: 20px 0px; float: left;
}
.item-image.pull-left {
	margin: 20px 0px; float: left;
}
.right.img_caption {
	margin-left: 20px; float: right;
}
.img-intro-right {
	margin-left: 20px; float: right;
}
.item-image.pull-right {
	margin-left: 20px; float: right;
}
.img-intro-none {
	float: none;
}
.img-fulltext-none {
	float: none;
}
.item-image.pull-none {
	float: none;
}
.none.img_caption {
	float: none;
}
div.img_caption {
	width: 100%; height: 100%; position: relative;
}
p.img_caption {
	background: rgb(0, 0, 0); margin: 0px; padding: 5px 10px; right: 0px; bottom: 0px; color: rgb(255, 255, 255); font-size: 12px; position: absolute; z-index: 15;
}
.img-intro-left {
	display: block; max-width: 100%;
}
.img-intro-right {
	display: block; max-width: 100%;
}
.img-intro-none {
	display: block; max-width: 100%;
}
.img-fulltext-left {
	display: block; max-width: 100%;
}
.img-fulltext-right {
	display: block; max-width: 100%;
}
.item-image {
	display: block; max-width: 100%;
}
.img_caption {
	display: block; max-width: 100%;
}
.image-backdrop {
	left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute; z-index: 3; opacity: 0;
}
.img-wrapper a:hover .image-backdrop {
	opacity: 0.6;
}
.img-intro-btn {
	background-position: 70% 50%; left: 45%; top: 0px; width: 40px; height: 40px; display: block; visibility: hidden; position: absolute; z-index: 5; opacity: 0; background-repeat: no-repeat; background-color: rgb(0, 0, 0);
}
.img-wrapper a:hover .img-intro-btn {
	top: 50%; margin-top: -20px; visibility: visible; opacity: 1;
}
.items-row {
	padding: 15px 0px; border-bottom-color: rgb(196, 196, 196); border-bottom-width: 1px; border-bottom-style: dotted;
}
.cat-children h3 {
	font-size: 24px;
}
img.caption2 {
	margin: 0px 10px 10px 0px; padding: 4px; border: 1px solid rgb(221, 221, 221); border-image: none; float: left;
}
.cat-children h3.page-header {
	margin: 0px; padding: 6px 0px; font-size: 100%; font-weight: 300;
}
.homepage h2.item-title {
	text-align: center; color: rgb(82, 82, 82);
}
.readmore {
	padding: 10px 15px; border-radius: 4px; transition:0.4s; color: rgb(63, 63, 63); text-transform: capitalize; background-color: rgb(243, 243, 243); -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.readmore:hover {
	background: 0px 0px rgb(127, 190, 84); color: rgb(255, 255, 255); box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
.readmore:active {
	background: 0px 0px rgb(127, 190, 84); color: rgb(255, 255, 255); box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
.readmore:focus {
	background: 0px 0px rgb(127, 190, 84); color: rgb(255, 255, 255); box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
.items-more .nav-tabs {
	padding-top: 12px; border-top-color: rgb(226, 226, 226); border-top-width: 1px; border-top-style: solid;
}
.items-more .nav-stacked.nav-tabs li a {
	padding: 3px 0px; border: 0px currentColor; border-image: none;
}
.items-more .nav-stacked.nav-tabs li a:hover {
	background: rgb(248, 248, 248);
}
div.blog h3 {
	margin: 0px 0px 20px; line-height: 100%; font-size: 180%;
}
div.items-leading {
	padding: 10px 0px 15px; border-bottom-color: rgb(196, 196, 196); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.cat-children {
	margin: 10px 0px 0px;
}
div.cat-children > div > h3::before {
	margin: 0px 7px 0px 0px; font-family: FontAwesome; display: inline-block; content: "\f105";
}
.dropdown-toggle {
	color: rgb(133, 133, 133);
}
.dropdown-toggle:hover {
	color: rgb(127, 190, 84);
}
.dropdown-toggle:active {
	color: rgb(127, 190, 84);
}
.dropdown-toggle:focus {
	color: rgb(127, 190, 84);
}
.page-subheader {
	margin: 0px 0px 20px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.page-subheader::before {
	line-height: 0; display: table; content: "";
}
.page-subheader::after {
	line-height: 0; display: table; content: "";
}
.page-subheader::after {
	clear: both;
}
.page-subtitle {
	margin: 0px; line-height: 1;
}
.page-subheader h2 {
	margin: 0px; line-height: 1;
}
.page-header + .page-subheader {
	margin-top: -20px;
}
.article-title {
	margin: 0px 0px 10px; line-height: 1;
}
.article-header h1 {
	margin: 0px 0px 10px; line-height: 1;
}
.article-info {
	margin: 0px; width: 100%; display: inline-block;
}
.article-info .article-info-inner {
	width: 90%; float: left;
}
.article-info .article-info-term {
	display: none;
}
.article-info dd {
	margin-right: 10px; margin-left: 0px; float: left; white-space: nowrap;
}
.article-info span {
	font-weight: bold;
}
.blog .article-info {
	margin: 0px; width: 90%;
}
.blog .icons .btn {
	padding: 0px;
}
.icon-edit {
	line-height: 1; font-family: FontAwesome; font-style: normal; font-weight: normal; display: inline-block; -moz-osx-font-smoothing: grayscale;
}
.icon-print {
	line-height: 1; font-family: FontAwesome; font-style: normal; font-weight: normal; display: inline-block; -moz-osx-font-smoothing: grayscale;
}
.icon-envelope {
	line-height: 1; font-family: FontAwesome; font-style: normal; font-weight: normal; display: inline-block; -moz-osx-font-smoothing: grayscale;
}
.icon-edit::before {
	content: "\f044";
}
.icon-print::before {
	content: "\f02f";
}
.icon-envelope::before {
	content: "\f0e0";
}
.blog .icon-calendar {
	line-height: 1; font-family: FontAwesome; font-style: normal; font-weight: normal; display: inline-block; -moz-osx-font-smoothing: grayscale;
}
.blog .icon-eye-open {
	line-height: 1; font-family: FontAwesome; font-style: normal; font-weight: normal; display: inline-block; -moz-osx-font-smoothing: grayscale;
}
.blog .icon-calendar::before {
	content: "\f073";
}
.blog .icon-eye-open::before {
	content: "\f06e";
}
ul {
	padding: 0px;
}
ol {
	padding: 0px;
}
ul ul {
	margin-bottom: 0px;
}
ul ol {
	margin-bottom: 0px;
}
ol ol {
	margin-bottom: 0px;
}
ol ul {
	margin-bottom: 0px;
}
ul {
	list-style: none;
}
ol {
	list-style: decimal;
}
li {
	line-height: 30px;
}
ul.unstyled {
	list-style: none; margin-left: 0px;
}
ol.unstyled {
	list-style: none; margin-left: 0px;
}
ul.inline {
	list-style: none; margin-left: 0px;
}
ol.inline {
	list-style: none; margin-left: 0px;
}
ul.inline > li {
	padding-right: 5px; padding-left: 5px; display: inline-block;
}
ol.inline > li {
	padding-right: 5px; padding-left: 5px; display: inline-block;
}
ul.menu li {
	display: inline-block;
}
img {
	max-width: 100%;
}
.alert p {
	margin: 0px;
}
.alert .close {
	right: -40px; font-size: 28px;
}
.nav-tabs > li::before {
	display: none;
}
#component div.tab-content > div {
	padding: 15px;
}
iframe {
	max-width: 100%;
}
.zo2-pagination {
	width: 100%; text-align: center;
}
.zo2-pagination .counter {
	color: rgb(137, 137, 137); font-size: 13px;
}
.zo2-pagination ul {
	margin: 10px 0px; border-radius: 0px; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.zo2-pagination ul > li {
	margin: 0px 5px; display: inline-block;
}
.zo2-pagination ul > li:first-child a {
	border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
}
.zo2-pagination ul > li:last-child a {
	border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
}
.zo2-pagination ul > li:first-child span {
	border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
}
.zo2-pagination ul > li:last-child span {
	border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
}
.zo2-pagination ul > li > a {
	border: 1px solid rgb(235, 235, 235); border-image: none; color: rgb(137, 137, 137);
}
.zo2-pagination ul > li > span {
	border: 1px solid rgb(235, 235, 235); border-image: none;
}
.zo2-pagination ul > li.active > span {
	background: rgb(127, 190, 84); border: 1px solid rgb(127, 190, 84); border-image: none; color: rgb(255, 255, 255);
}
.zo2-pagination ul > li.active > span:hover {
	background: rgb(127, 190, 84); border: 1px solid rgb(127, 190, 84); border-image: none; color: rgb(255, 255, 255);
}
.zo2-pagination ul > li.active > span:active {
	background: rgb(127, 190, 84); border: 1px solid rgb(127, 190, 84); border-image: none; color: rgb(255, 255, 255);
}
.zo2-pagination ul > li.active > span:focus {
	background: rgb(127, 190, 84); border: 1px solid rgb(127, 190, 84); border-image: none; color: rgb(255, 255, 255);
}
.zo2-pagination ul > li.disabled {
	font-size: 14px;
}
.zo2-pagination ul > li.disabled a {
	line-height: 21px;
}
.pager li a {
	padding: 10px 15px; border-radius: 4px; border: currentColor; transition:0.4s; border-image: none; color: rgb(63, 63, 63); text-transform: capitalize; background-color: rgb(243, 243, 243); -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.pager li a:hover {
	background: 0px 0px rgb(127, 190, 84); color: rgb(255, 255, 255); box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
.pager li a:active {
	background: 0px 0px rgb(127, 190, 84); color: rgb(255, 255, 255); box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
.pager li a:focus {
	background: 0px 0px rgb(127, 190, 84); color: rgb(255, 255, 255); box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
.pagenav {
	clear: both; float: none;
}
.login-form input[type='text'] {
	padding: 0px 12px; border-radius: 0px; border: 1px solid rgb(217, 214, 208); border-image: none; height: 30px; color: rgb(136, 136, 136); line-height: 30px; max-width: 100% !important; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.login-form input[type='password'] {
	padding: 0px 12px; border-radius: 0px; border: 1px solid rgb(217, 214, 208); border-image: none; height: 30px; color: rgb(136, 136, 136); line-height: 30px; max-width: 100% !important; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.login-form button {
	margin: 20px 0px;
}
#login-form #form-login-submit {
	width: 100%; overflow: hidden; display: block;
}
#login-form .logout-button .btn {
	padding: 7px 35px;
}
#login-form #form-login-submit .btn {
	padding: 7px 35px;
}
#login-form #form-login-submit .sign-in {
	line-height: 42px; padding-left: 15px; font-size: 13px;
}
#login-form ul.unstyled {
	width: 100%; overflow: hidden; margin-top: 12px; display: block;
}
#login-form ul.unstyled li {
	padding-right: 15px; font-size: 11px; float: left;
}
#login-form span.icon-plus-sign {
	visibility: hidden;
}
#login-form .controls label {
	margin: 0px; width: 100%; color: rgb(0, 0, 0); text-transform: uppercase; font-size: 10px;
}
.contact-form textarea {
	width: 100%;
}
.contact-form input[type='text'] {
	width: 100%;
}
.contact-form .uneditable-input {
	width: 100%;
}
.contact-form #jform_contact_email_copy-lbl {
	margin-right: 10px;
}
.contact-form legend {
	border: 0px currentColor; border-image: none; color: rgb(102, 102, 102); font-size: 11px;
}
.contact-form span.icon-ok-circle {
	padding-right: 5px; margin-top: -1px; position: relative; opacity: 0.8;
}
.contact-form .message-form {
	margin-top: 10px; display: block;
}
.contact-form .contact-fields {
	width: 98%; display: block;
}
.contact-form .message-input {
	width: 98%; display: block;
}
.contact-form .message-input textarea {
	width: 100%; height: 250px;
}
.contact-form .send-btn {
	padding: 10px 0px 0px;
}
.contact-form .email-copy {
	padding: 10px 0px 0px;
}
.contact-form .email-copy-label {
	float: left;
}
.contact-form .email-copy-label label {
	margin: 8px 8px 8px 0px; color: rgb(153, 153, 153); padding-left: 12px; font-size: 11px;
}
.contact-form .email-copy-input {
	float: left;
}
.contact-form .email-copy-input input[type='checkbox'] {
	margin: 12px 0px 8px; padding: 0px; border: 1px solid rgb(165, 165, 165); border-image: none; width: 15px; height: 15px; vertical-align: middle;
}
.name-label label {
	font-weight: bold;
}
.email-label label {
	font-weight: bold;
}
.subject-label {
	margin-top: 10px;
}
.subject-label label {
	font-weight: bold;
}
.message-label label {
	font-weight: bold;
}
.name-input {
	margin-right: 15px;
}
.email-input {
	margin-right: 15px;
}
.subject-input {
	margin-right: 15px;
}
.message-form {
	margin-right: 15px;
}
.alert-info.alert.filter-search {
	padding: 20px; border: 1px solid rgb(240, 240, 240); border-image: none; background-image: none; background-color: rgb(245, 245, 245);
}
.search-results .result-title {
	margin-top: 24px;
}
.search dt.result-title {
	padding-top: 15px; margin-top: 15px; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
#searchForm fieldset {
	margin: 20px 0px;
}
#search-results ul.search-results {
	list-style-type: none;
}
#search-results ul.search-results li {
	padding-bottom: 12px; border-bottom-color: rgb(242, 242, 242); border-bottom-width: 1px; border-bottom-style: solid;
}
.form-search#mod-finder-searchform {
	margin: 0px; padding: 0px; position: relative;
}
.form-search#mod-finder-searchform button {
	background: 0px; padding: 5px 10px; border: 0px currentColor; border-image: none; top: 3px; right: 3px; text-indent: -9999px; margin-left: 0px; float: none; position: absolute;
}
.form-search#mod-finder-searchform input {
	padding: 8px 40px 8px 12px; border-radius: 0px; transition:250ms ease-in-out; color: rgb(178, 178, 178); font-size: 11px; box-shadow: none; -webkit-transition: all 250ms ease-in-out; -webkit-box-shadow: none; -moz-transition: all 250ms ease-in-out; -o-transition: all 250ms ease-in-out; -webkit-border-radius: 0; -moz-border-radius: 0; -moz-box-shadow: none;
}
.form-search#mod-finder-searchform input.input-medium {
	width: 170px;
}
.form-search#mod-finder-searchform input:hover {
	padding: 8px 60px 8px 12px; border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(86, 86, 86);
}
.form-search#mod-finder-searchform input:focus {
	padding: 8px 60px 8px 12px; border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(86, 86, 86);
}
.search-module {
	margin: 0px; padding: 0px; position: relative;
}
.search-module button {
	background: 0px; padding: 5px 10px; border: 0px currentColor; border-image: none; top: 3px; right: 3px; margin-left: 0px; float: none; display: block; position: absolute;
}
.search-module button span {
	text-indent: -9999px;
}
.search-module input {
	border-radius: 0px; transition:250ms ease-in-out; width: 170px; color: rgb(178, 178, 178); font-size: 11px; box-shadow: none; -webkit-transition: all 250ms ease-in-out; -webkit-box-shadow: none; -moz-transition: all 250ms ease-in-out; -o-transition: all 250ms ease-in-out; -webkit-border-radius: 0; -moz-border-radius: 0; -moz-box-shadow: none;
}
.search-module input:hover {
	border: 1px solid rgb(0, 0, 0); border-image: none; color: rgb(86, 86, 86);
}
.search-module input:focus {
	border: 1px solid rgb(0, 0, 0); border-image: none; color: rgb(86, 86, 86);
}
.edit .btn-toolbar {
	margin: 10px 0px;
}
.edit .nav {
	margin: 10px 0px 20px; border: currentColor; border-image: none;
}
.edit .nav li a {
	border-radius: 3px; border: currentColor; border-image: none; font-size: 14px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.edit .nav li.active > a {
	background: rgb(12, 127, 207); color: rgb(255, 255, 255);
}
.edit .nav li.active > a:hover {
	border: currentColor; border-image: none; color: rgb(255, 255, 255);
}
.edit .nav li.active > a:active {
	border: currentColor; border-image: none; color: rgb(255, 255, 255);
}
.edit .nav li.active > a:focus {
	border: currentColor; border-image: none; color: rgb(255, 255, 255);
}
.edit #jform_tags_chzn {
	width: 100px !important;
}
div.shadow#sbox-window {
	width: 820px !important; height: 520px !important;
}
.well {
	padding: 10px; background-color: rgb(245, 245, 245);
}
div.chzn-container#jform_catid_chzn {
	width: 280px !important;
}
div.chzn-container#jform_catid_chzn div.chzn-drop {
	width: 280px !important;
}
div.chzn-container#jform_state_chzn {
	width: 280px !important;
}
div.chzn-container#jform_state_chzn div.chzn-drop {
	width: 280px !important;
}
div.chzn-container#jform_featured_chzn {
	width: 280px !important;
}
div.chzn-container#jform_featured_chzn div.chzn-drop {
	width: 280px !important;
}
div.chzn-container#jform_access_chzn {
	width: 280px !important;
}
div.chzn-container#jform_access_chzn div.chzn-drop {
	width: 280px !important;
}
div.chzn-container#jform_metadata_tags_chzn {
	width: 280px !important;
}
div.chzn-container#jform_metadata_tags_chzn div.chzn-drop {
	width: 280px !important;
}
div.chzn-container#jform_language_chzn {
	width: 280px !important;
}
div.chzn-container#jform_language_chzn div.chzn-drop {
	width: 280px !important;
}
form.form-vertical#imageForm div.well div.row div div.control-label label.control-label {
	font-family: Tahoma, Verdana, sans-serif !important;
}
form.form-vertical#imageForm div.well div.row div div.control-label label {
	font-family: Tahoma, Verdana, sans-serif !important;
}
form.form-vertical#imageForm div.well div.row div div.controls p.help-block {
	font-family: Tahoma, Verdana, sans-serif !important;
}
form.form-horizontal#uploadForm div.well#uploadform fieldset.actions#upload-noflash div.control-group div.control-label label.control-label {
	font-family: Tahoma, Verdana, sans-serif !important;
}
form.form-horizontal#uploadForm div.well#uploadform fieldset.actions#upload-noflash div.control-group div.controls p.help-block {
	font-family: Tahoma, Verdana, sans-serif !important;
}
body.contentpane form table tbody tr td.key {
	font-family: Tahoma, Verdana, sans-serif !important;
}
div.chzn-container#jform_metadata_tags_chzn ul.chzn-choices li.search-field input.default {
	padding: 0px !important; width: 280px !important;
}
iframe html body.contentpane form.form-inline#adminForm {
	background-color: rgb(255, 153, 0);
}
div.pull-left.btn-toolbar#editor-xtd-buttons {
	margin-top: 10px;
}
a.btn.modal-button {
	padding: 6px 12px; border-radius: 4px; border: 1px solid rgb(16, 133, 222); border-image: none; text-align: center; color: rgb(255, 255, 255); line-height: 1.4285; font-size: 14px; font-weight: normal; margin-top: 10px; margin-bottom: 10px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; background-color: rgb(16, 133, 222); -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
div.btn-toolbar a.btn {
	padding: 6px 12px; border-radius: 4px; border: 1px solid rgb(16, 133, 222); border-image: none; text-align: center; color: rgb(255, 255, 255); line-height: 1.4285; font-size: 14px; font-weight: normal; margin-top: 10px; margin-bottom: 10px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; background-color: rgb(16, 133, 222); -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
form.form-vertical#imageForm div.well div.row div.pull-right button.btn-primary.btn {
	padding: 6px 12px; border-radius: 4px; border: 1px solid rgb(16, 133, 222); border-image: none; text-align: center; color: rgb(255, 255, 255); line-height: 1.4285; font-size: 14px; font-weight: normal; margin-top: 10px; margin-bottom: 10px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; background-color: rgb(16, 133, 222); -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
form.form-inline#adminForm fieldset.filter div.btn-toolbar div.btn-group button.hasTooltip.btn {
	padding: 6px 12px; border-radius: 4px; border: 1px solid rgb(16, 133, 222); border-image: none; text-align: center; color: rgb(255, 255, 255); line-height: 1.4285; font-size: 14px; font-weight: normal; margin-top: 10px; margin-bottom: 10px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; background-color: rgb(16, 133, 222); -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
body.contentpane button {
	padding: 6px 12px; border-radius: 4px; border: 1px solid rgb(16, 133, 222); border-image: none; text-align: center; color: rgb(255, 255, 255); line-height: 1.4285; font-size: 14px; font-weight: normal; margin-top: 10px; margin-bottom: 10px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; background-color: rgb(16, 133, 222); -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
form.form-vertical#imageForm div.well div.row div.pull-right button.btn {
	padding: 6px 12px; border-radius: 4px; border: 1px solid rgb(16, 133, 222); border-image: none; text-align: center; color: rgb(0, 0, 0); line-height: 1.4285; font-size: 14px; font-weight: normal; margin-top: 10px; margin-bottom: 10px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; background-color: rgb(255, 255, 255); -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
button.btn#upload-submit {
	padding: 6px 12px; border-radius: 4px; border: 1px solid rgb(16, 133, 222); border-image: none; text-align: center; color: rgb(0, 0, 0); line-height: 1.4285; font-size: 14px; font-weight: normal; margin-top: 10px; margin-bottom: 10px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; background-color: rgb(255, 255, 255); -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
form.form-inline#adminForm fieldset.filter div.btn-toolbar div.btn-group {
	clear: both;
}
form.form-inline#adminForm table.table thead tr th.title {
	float: left;
}
form.form-inline#adminForm table.table thead tr th.center a.hasTip {
	float: left;
}
form.form-inline#adminForm table.table thead tr th.center {
	width: 10% !important;
}
form.form-inline#adminForm fieldset.filter div.filters {
	margin: 10px 0px; clear: both;
}
form.form-inline#adminForm fieldset.filter hr.hr-condensed {
	margin: 10px 0px; clear: both;
}
ul.thumbnails.manager li.imgOutline {
	padding: 10px; float: left;
}
body.contentpane form table tbody tr td.key {
	text-align: left;
}
i[class^='fa'] {
	line-height: 1; font-family: FontAwesome; font-style: normal; font-weight: normal; display: inline-block;
}
.button2 {
	background: rgb(6, 131, 203); margin: 10px 0px 0px; padding: 0px 15px; height: 30px; color: rgb(255, 255, 255); line-height: 30px; font-size: 120%;
}
.button2:hover {
	background: rgb(229, 229, 229);
}
ul.pagination {
	margin: 20px 0px 0px; border-radius: 0px; clear: both; display: block; box-shadow: none;
}
ul.pagination li {
	background: none; margin: 0px; color: rgb(33, 33, 33); display: inline-block;
}
ul.pagination li > a {
	border-radius: 0px; border: currentColor; border-image: none;
}
ul.pagination li > span {
	border-radius: 0px; border: currentColor; border-image: none;
}
ul.pagination li > a:hover {
	background: none; text-decoration: underline;
}
ul.pagination li > a:focus {
	background: none; text-decoration: underline;
}
ul.pagination li > a:active {
	background: none; text-decoration: underline;
}
ul.pagination li > span:hover {
	background: none; text-decoration: underline;
}
ul.pagination li > span:focus {
	background: none; text-decoration: underline;
}
ul.pagination li > span:active {
	background: none; text-decoration: underline;
}
ul.pagination li.active span {
	background: none; color: rgb(153, 153, 153);
}
ul.pagination li.active span:hover {
	background: none; color: rgb(153, 153, 153); text-decoration: none;
}
#searchForm {
	padding: 0px 10px;
}
#finder-search {
	padding: 0px 10px;
}
div.com_search .button-search {
	padding: 5px 10px;
}
h3.moduletitle {
	text-transform: uppercase; font-family: "Times New Roman"; font-size: 150%; font-weight: bold; margin-bottom: 25px;
}
.title3 h3.moduletitle {
	margin: 10px 0px; padding: 0px 0px 10px 10px; font-size: 140%; border-bottom-color: rgb(233, 235, 237); border-bottom-width: 1px; border-bottom-style: solid;
}
div.mod-languages ul li {
	margin: 0px 5px 0px 0px; float: left;
}
.top-menu ul.menu li {
	border-right-color: rgb(79, 80, 83); border-right-width: 0px; border-right-style: solid;
}
.top-menu ul.menu li a {
	padding: 0px 20px; height: 30px; color: rgb(223, 223, 223); text-transform: uppercase; line-height: 30px; font-size: 95%; display: block;
}
.top-menu ul.menu li a:hover {
	background: rgb(42, 43, 47); text-decoration: none;
}
.top-menu ul.menu li a:active {
	background: rgb(42, 43, 47); text-decoration: none;
}
.top-menu ul.menu li a.active {
	background: rgb(42, 43, 47); text-decoration: none;
}
div.zo2-social-inner a {
	background: rgb(60, 61, 65); padding: 0px 10px; width: 35px; height: 30px; text-align: center; line-height: 30px; border-left-color: rgb(79, 80, 83); border-left-width: 1px; border-left-style: solid; float: left; display: block;
}
div.zo2-social-inner a:hover {
	background: rgb(42, 43, 47);
}
div.zo2-social-inner a:active {
	background: rgb(42, 43, 47);
}
div.zo2-social-inner a.active {
	background: rgb(42, 43, 47);
}
div.zo2-social-inner a > i {
	color: rgb(148, 148, 148); line-height: 30px; font-size: 150%;
}
div.search {
	border-width: 1px 0px 1px 1px; /*border-style: solid none solid solid;*/ border-image: none; display: inline-block;
}
div.search input#mod-search-searchword {
	background: #0c2f7f; margin: 0px; padding: 4px 10px; border: currentColor; border-image: none; width: 170px; color: rgb(223, 223, 223);
}
div.search .button {
	background: #0c2f7f; margin: 0px 0px 0px -3px; padding: 0px 8px; border: currentColor; border-image: none; color: rgb(148, 148, 148); line-height: 30px;
}

div.search .button img{
	 z-index: 999;
}

div.search .button:hover {
	color: rgb(255, 255, 255);
}
div.zo2-tab-inner {
	background: rgb(222, 225, 230); padding: 5px;
}
div.zo2-tab-inner ul.nav-tabs {
	height: 37px;
}
div.zo2-tab-inner ul.nav-tabs li {
	margin: 0px; line-height: 37px;
}
div.zo2-tab-inner ul.nav-tabs li a {
	border-width: 1px 1px 0px; border-style: solid; border-color: rgb(222, 225, 230); margin: 0px; padding: 0px 9px; color: rgb(131, 133, 136); text-transform: uppercase; line-height: 37px; font-family: "Oswald", sans-serif; font-size: 138%; font-weight: 400;
}
div.zo2-tab-inner ul.nav-tabs li.active a {
	background: rgb(255, 255, 255); border-width: 1px 1px 0px; border-style: solid; border-color: rgb(212, 215, 219); border-radius: 0px; color: rgb(6, 6, 6) !important;
}
div.zo2-tab-inner ul.nav-tabs li:active a {
	background: rgb(255, 255, 255); border-width: 1px 1px 0px; border-style: solid; border-color: rgb(212, 215, 219); border-radius: 0px; color: rgb(6, 6, 6) !important;
}
div.zo2-tab-inner ul.nav-tabs li:hover a {
	background: rgb(255, 255, 255); border-width: 1px 1px 0px; border-style: solid; border-color: rgb(212, 215, 219); border-radius: 0px; color: rgb(6, 6, 6) !important;
}
div.zo2-tab-inner ul.nav-tabs li:focus a {
	background: rgb(255, 255, 255); border-width: 1px 1px 0px; border-style: solid; border-color: rgb(212, 215, 219); border-radius: 0px; color: rgb(6, 6, 6) !important;
}
div.zo2-tab-inner ul.nav-tabs li.active a:focus {
	
}
div.zo2-tab-inner ul.nav-tabs li:active a:focus {
	
}
div.zo2-tab-inner ul.nav-tabs li:hover a:focus {
	
}
div.zo2-tab-inner ul.nav-tabs li:focus a:focus {
	
}
div.zo2-tab-inner div.tab-content {
	background: rgb(255, 255, 255); padding: 10px; border: 1px solid rgb(212, 215, 219); border-image: none;
}
div.zo2-tab-inner div.tab-content .lightbox-modal {
	margin: 0px 7px 12px 0px; display: inline-block;
}
div.zo2-tab-inner iframe {
	border: 1px solid rgb(13, 14, 14); border-image: none; max-width: 100%;
}
div.zo2-tab-inner div.zo2-k2ItemsBlock ul li {
	padding: 8px 0px; border-bottom-color: rgb(222, 225, 230); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.zo2-tab-inner div.zo2-k2ItemsBlock ul li.lastItem {
	border: currentColor; border-image: none; padding-bottom: 0px;
}
div.zo2-tab-inner div.zo2-k2ItemsBlock ul li div {
	line-height: 16px;
}
div.zo2-tab-inner div.zo2-k2ItemsBlock ul li div.image-item {
	margin: 0px 10px 0px 0px; float: left;
}
div.nspArts {
	position: relative;
}
div.nspArts div.nspTopInterface {
	margin: 0px; left: 0px; top: 50%; width: 100%; overflow: visible; position: absolute;
}
div.nspArts div.nspTopInterface .nspPrev {
	margin: -12px 0px 0px; border: currentColor; border-image: none; color: rgb(201, 201, 201); text-indent: 0px; overflow: hidden; font-family: FontAwesome; font-size: 240%;
}
div.nspArts div.nspTopInterface .nspNext {
	margin: -12px 0px 0px; border: currentColor; border-image: none; color: rgb(201, 201, 201); text-indent: 0px; overflow: hidden; font-family: FontAwesome; font-size: 240%;
}
div.nspArts div.nspTopInterface .nspPrev:hover {
	color: rgb(2, 2, 2);
}
div.nspArts div.nspTopInterface .nspNext:hover {
	color: rgb(2, 2, 2);
}
div.nspArts div.nspTopInterface .nspPrev::before {
	margin: 0px; border-radius: 0px; border: currentColor; border-image: none; width: 24px; text-align: center; line-height: 25px;
}
div.nspArts div.nspTopInterface .nspNext::before {
	margin: 0px; border-radius: 0px; border: currentColor; border-image: none; width: 24px; text-align: center; line-height: 25px;
}
div.nspArts div.nspTopInterface .nspPrev {
	float: left;
}
div.nspArts div.nspTopInterface .nspPrev::before {
	content: "\f104";
}
div.nspArts div.nspTopInterface .nspNext {
	float: right;
}
div.nspArts div.nspTopInterface .nspNext::before {
	content: "\f105";
}
div.nspArts .nspArtPage {
	padding: 0px 30px;
}
div.nspArts .nspArtPage div.nspArt div.nspArt-inner {
	background: rgb(249, 250, 252); padding: 5px; border: 1px solid rgb(212, 215, 219); border-image: none; overflow: hidden; position: relative;
}
div.nspArts .nspArtPage div.nspArt a.nspImageWrapper {
	margin: 0px !important; float: none;
}
div.nspArts .nspArtPage div.nspArt h4.nspHeader {
	background: url("../images/bg-caption.png"); margin: 0px 5px; padding: 10px 15px; left: 0px; width: 95%; bottom: 5px; font-size: 100%; position: absolute;
}
div.nspArts .nspArtPage div.nspArt h4.nspHeader a {
	color: rgb(255, 255, 255); font-family: arial; font-size: 100%; font-weight: bold;
}
div.zt_scroller {
	background: rgb(255, 255, 255); border-width: 1px 1px 4px; border-style: solid; border-color: rgb(214, 217, 222); padding: 25px 10px 10px 15px;
}
div.zt_scroller div.item {
	background: rgb(249, 250, 252); padding: 6px; border: 1px solid rgb(212, 215, 219); position: relative;
}
div.zt_scroller div.item a.title {
	background: url("../images/bg-caption2.png"); padding: 60px 0px 0px; border: 6px solid rgb(249, 250, 252); transition:0.5s ease-in-out; border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; text-align: center; color: rgb(255, 255, 255); line-height: 110%; font-family: times new roman; font-size: 300%; display: block; position: absolute; opacity: 0; -webkit-transition: all 0.5s ease-in-out 0s; -moz-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s;
}
div.zt_scroller div.item a.title:hover {
	text-decoration: none;
}
div.zt_scroller div.item:hover a.title {
	opacity: 1;
}
div.zt_scroller div.owl-controls div.owl-buttons {
	display: none;
}
div.zt_scroller div.owl-controls div.owl-pagination div.owl-page span {
	background: rgb(255, 255, 255); border-radius: 50%; border: 1px solid rgb(212, 215, 219); border-image: none;
}
div.zt_scroller div.owl-controls div.owl-pagination div.new_owl_prev {
	width: 20px; height: 20px; color: rgb(167, 167, 167); line-height: 20px; font-size: 150%; vertical-align: top; display: inline-block; cursor: pointer;
}
div.zt_scroller div.owl-controls div.owl-pagination div.new_owl_next {
	width: 20px; height: 20px; color: rgb(167, 167, 167); line-height: 20px; font-size: 150%; vertical-align: top; display: inline-block; cursor: pointer;
}
div.breadcrumbs {
	color: rgb(255, 255, 255); line-height: 41px; overflow: hidden; font-weight: bold; background-color: #375aa8;
}
div.breadcrumbs a {
	background: url("../images/breadcrums-links.png") no-repeat right top; padding: 0px 40px 0px 20px; color: rgb(204, 204, 205); font-size: 105%; float: left; display: inline-block;
}
div.breadcrumbs a.first {
	width: 75px; text-indent: -9999em;
}
div.breadcrumbs a.first-t {
	width: 75px; text-indent: -9999em;
}
div.breadcrumbs a.first {
	background-color: rgb(33, 35, 37) !important;
}
div.breadcrumbs a.first-t {
	background-color: #3458a8 !important;
}
div.breadcrumbs a.last {
	background: url("../images/breadcrums-links-last.png") no-repeat right top;
}
div.breadcrumbs span {
	padding: 0px 10px; float: left;
}
.bread-menu ul.menu li {
	line-height: 45px;
}
.bread-menu ul.menu li.first a {
	padding: 0px 20px 0px 0px;
}
.bread-menu ul.menu li a {
	padding: 0px 20px; color: rgb(182, 182, 183); font-family: arial;
}
.bread-menu ul.menu li a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
div.k2ItemsBlock div.lastmediavideo {
	line-height: 100%;
}
.ztvc-visitor-counter .digit-counter > span {
	background: url("../images/default.gif") no-repeat left top; width: 14px; height: 17px; text-indent: -999em; display: inline-block;
}
.ztvc-visitor-counter .digit-counter .digit-0 {
	background-position: 1px 0px;
}
.ztvc-visitor-counter .digit-counter .digit-1 {
	background-position: -11px 0px;
}
.ztvc-visitor-counter .digit-counter .digit-2 {
	background-position: -23px 0px;
}
.ztvc-visitor-counter .digit-counter .digit-3 {
	background-position: -35px 0px;
}
.ztvc-visitor-counter .digit-counter .digit-4 {
	background-position: -47px 0px;
}
.ztvc-visitor-counter .digit-counter .digit-5 {
	background-position: -59px 0px;
}
.ztvc-visitor-counter .digit-counter .digit-6 {
	background-position: -71px 0px;
}
.ztvc-visitor-counter .digit-counter .digit-7 {
	background-position: -83px 0px;
}
.ztvc-visitor-counter .digit-counter .digit-8 {
	background-position: -95px 0px;
}
.ztvc-visitor-counter .digit-counter .digit-9 {
	background-position: -107px 0px;
}
.ztvc-visitor-counter .ztvc-row {
	margin: 2px; height: 25px;
}
.ztvc-visitor-counter .ztvc-icons > div {
	background: url("../images/default.png") no-repeat left top; width: 16px; text-indent: -999em;
}
.ztvc-visitor-counter .ztvc-icons .ztvc-icon-today {
	background-position: -128px 0px;
}
.ztvc-visitor-counter .ztvc-icons .ztvc-icon-yesterday {
	background-position: -192px 0px;
}
.ztvc-visitor-counter .ztvc-icons .ztvc-icon-week {
	background-position: -64px 0px;
}
.ztvc-visitor-counter .ztvc-icons .ztvc-icon-month {
	background-position: -32px 0px;
}
.ztvc-visitor-counter .ztvc-icons .ztvc-icon-all {
	background-position: 0px 0px;
}
div.zt-login-form {
	padding: 15px;
}
div.zt-login-form div.field1 input {
	width: 95%;
}
div.zt-login-form #modlgn-remember {
	margin: 4px 5px 0px 0px; float: left;
}
div.zt-login-form label {
	margin: 0px 0px 8px; display: block;
}
div.zt-login-form .signin {
	margin: 0px 0px 5px; color: rgb(255, 255, 255); font-weight: bold;
}
div.zt-login-form .signin:hover {
	background: rgb(229, 229, 229); color: rgb(20, 1, 1);
}
div.zt_news_wrap div.zt-title-category h3 {
	margin: 0px; padding: 10px 0px 10px 15px; border-bottom-color: rgb(212, 215, 219); border-bottom-width: 1px; border-bottom-style: solid;
}
div.zt_news_wrap div.news_lead {
	padding: 15px;
}
div.zt_news_wrap div.article-item a.linkimg {
	margin: 0px 10px 0px 0px; float: left; display: inline-block;
}
div.zt_news_wrap div.article-item a.linkimg img {
	padding: 3px; border: 1px solid rgb(220, 220, 220); border-image: none;
}
div.zt_news_wrap div.article-item p {
	margin: 0px; line-height: 150%;
}
div.zt_news_wrap div.article-item div.more_item {
	padding: 10px 0px; border-bottom-color: rgb(212, 215, 219); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.zt_news_wrap div.article-item div.first-item.more_item {
	padding: 0px 0px 10px;
}
div.zt_news_wrap div.article-item div.last-item.more_item {
	border: currentColor; border-image: none;
}
div.zt_news_wrap div.zt-category {
	background: rgb(255, 255, 255); margin: 0px 0px 20px;
}
div.zt_news_wrap div.zt-article-item img {
	background: rgb(249, 250, 252); padding: 4px; border: 1px solid rgb(212, 215, 219); border-image: none;
}
div.zt_news_wrap div.zt-article-item h3 {
	margin: 10px 0px 7px; line-height: 120%; font-size: 125%;
}
div.zt_news_wrap .more-item-datetime {
	color: rgb(153, 153, 153); font-size: 95%;
}
div.zt-newsiv-frame-cat div.zt-category {
	float: left;
}
div.zt-newsiv-frame-cat div.zt-category-even {
	float: left;
}
div.zt-newsiv-frame-cat div.zt-category-even {
	margin: 0px 2.5% 20px 0px;
}
div.zt-newsiv-frame-cat div.zt-article-item {
	border-bottom-color: rgb(196, 196, 196); border-bottom-width: 1px; border-bottom-style: dotted;
}
div.zt-newsiv-frame-cat div.list-item-link {
	margin: 5px 0px;
}
div.zt-newsiv-frame-cat div.list-item-link::before {
	margin: 0px 7px 0px 2px; color: rgb(255, 92, 3); font-family: FontAwesome; display: inline-block; content: "\f105";
}
ul.footer-menu {
	float: right;
}
ul.footer-menu li {
	margin: 0px 6px 0px 0px;
}
ul.footer-menu li.last {
	margin: 0px;
}
ul.footer-menu li.last::after {
	content: "";
}
ul.footer-menu li::after {
	margin: 0px 0px 0px 6px; color: rgb(255, 255, 255); font-family: FontAwesome; content: "\f068";
}
ul.categories-module li {
	padding: 10px 5px; color: rgb(51, 51, 51); line-height: 40px; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
ul.categories-module li i {
	padding-right: 10px; float: left;
}
ul.categories-module li h2 {
	margin: 0px; text-transform: none;
}
ul.categories-module li h3 {
	margin: 0px; text-transform: none;
}
ul.categories-module li h4 {
	margin: 0px; text-transform: none;
}
ul.categories-module li h5 {
	margin: 0px; text-transform: none;
}
ul.categories-module li h6 {
	margin: 0px; text-transform: none;
}
ul.categories-module li a {
	color: rgb(79, 79, 79); font-size: 13px; display: block;
}
ul.categories-module li:hover {
	color: rgb(127, 190, 84);
}
ul.categories-module li.active {
	color: rgb(127, 190, 84);
}
ul.categories-module li:hover a {
	color: rgb(127, 190, 84);
}
ul.categories-module li.active a {
	color: rgb(127, 190, 84);
}
ul.archive-module li {
	padding: 10px 5px; display: block; box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.07); -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.07);
}
ul.archive-module li a {
	display: block;
}
ul.archive-module li:hover {
	background: rgb(248, 248, 248); color: rgb(51, 51, 51);
}
ul.archive-module li.active {
	background: rgb(248, 248, 248); color: rgb(51, 51, 51);
}
ul.archive-module li:hover a {
	background: rgb(248, 248, 248); color: rgb(51, 51, 51);
}
ul.archive-module li.active a {
	background: rgb(248, 248, 248); color: rgb(51, 51, 51);
}
.tagspopular ul li {
	margin: 3px 0px; padding-right: 6px; float: left; display: inline-block;
}
.tagspopular ul li a {
	background-position: 0px 50%; padding: 4px 15px; color: rgb(102, 102, 102); font-size: 11px; display: block; background-repeat: no-repeat; background-color: rgb(242, 242, 242);
}
.tagspopular ul li a:hover {
	color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
ul.mostread li {
	margin: 3px 0px; padding-right: 6px; float: left; display: inline-block;
}
ul.mostread li a {
	padding: 4px 15px; border: 1px solid rgb(232, 232, 232); border-image: none; color: rgb(102, 102, 102); font-size: 11px; display: block;
}
ul.mostread li a:hover {
	padding: 4px 17px 4px 15px; color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
div.rev_slider_wrapper a {
	color: rgb(255, 255, 255) !important;
}
div.rev_slider_wrapper .zo2-back {
	background: url("../images/shadow.png"); padding: 8px; line-height: 22px; font-family: yanone kaffeesatz;
}
div.rev_slider_wrapper .default.tp-rightarrow {
	background: none; text-align: center; line-height: 40px; font-family: FontAwesome; font-size: 300%; font-style: normal; font-weight: normal; display: inline-block;
}
div.rev_slider_wrapper .default.tp-leftarrow {
	background: none; text-align: center; line-height: 40px; font-family: FontAwesome; font-size: 300%; font-style: normal; font-weight: normal; display: inline-block;
}
div.rev_slider_wrapper .default.tp-leftarrow::before {
	content: "\f104";
}
div.rev_slider_wrapper .default.tp-rightarrow::before {
	content: "\f105";
}
div.zt-twitter-timeline {
	padding: 0px; text-align: inherit;
}
div.zt-twitter-timeline > div.last-child {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
div.zt-timeline-item {
	margin: 0px 0px 12px; padding: 0px 0px 10px; width: 100%; clear: both; border-bottom-color: #234286; border-bottom-width: 1px; border-bottom-style: dotted; display: inline-block;
}
div.zt-twitter-follow {
	display: none;
}
.clearfix {
	clear: both;
}
.zt-typo-boxes {
	margin: 0px; padding: 20px 0px; width: 100%; border-bottom-color: rgb(226, 227, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
.zt-typo-boxes-inside {
	padding: 0px 10px;
}
p {
	margin: 1em 0px;
}
h1 {
	line-height: 1.1; font-family: "Oswald", sans-serif; font-weight: 400;
}
h2 {
	line-height: 1.1; font-family: "Oswald", sans-serif; font-weight: 400;
}
h3 {
	line-height: 1.1; font-family: Arial, Helvetica, sans-serif; font-weight: bold;
}
h4 {
	line-height: 1.1; font-family: Arial, Helvetica, sans-serif; font-weight: bold;
}
h5 {
	line-height: 1.1; font-family: "Oswald", sans-serif; font-weight: 400;
}
h6 {
	line-height: 1.1; font-family: "Oswald", sans-serif; font-weight: 400;
}
.h1 {
	line-height: 1.1; font-family: "Oswald", sans-serif; font-weight: 400;
}
.h2 {
	line-height: 1.1; font-family: "Oswald", sans-serif; font-weight: 400;
}
.h3 {
	line-height: 1.1; font-family: "Oswald", sans-serif; font-weight: 400;
}
.h4 {
	line-height: 1.1; font-family: "Oswald", sans-serif; font-weight: 400;
}
.h5 {
	line-height: 1.1; font-family: "Oswald", sans-serif; font-weight: 400;
}
.h6 {
	line-height: 1.1; font-family: "Oswald", sans-serif; font-weight: 400;
}
h1 {
	font-size: 260%;
}
h2 {
	font-size: 240%;
}
h3 {
	font-size: 150%;
}
h4 {
	font-size: 180%;
}
h5 {
	font-size: 160%;
}
h6 {
	font-size: 140%;
}
h1 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
h2 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
h3 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
h4 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
h5 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
h6 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
.h1 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
.h2 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
.h3 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
.h4 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
.h5 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
.h6 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
h1 {
	margin: 0px 0px 25px;
}
h2 {
	margin: 0px 0px 25px;
}
h3 {
	margin: 0px 0px 25px;
}
h4 {
	margin: 0px 0px 10px;
}
h5 {
	margin: 0px 0px 10px;
}
h6 {
	margin: 0px 0px 10px;
}
pre {
	font: 0.92em/32px "Curier New", monospace !important; margin: 0px; padding: 20px; border-radius: 0px; border: currentColor; border-image: none; color: rgb(34, 34, 34); font-size-adjust: none !important; font-stretch: normal !important; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.zt-code1 {
	font: 0.92em/32px "Curier New", monospace !important; margin: 0px; padding: 20px; border-radius: 0px; border: currentColor; border-image: none; color: rgb(34, 34, 34); font-size-adjust: none !important; font-stretch: normal !important; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.zt-code2 {
	font: 0.92em/32px "Curier New", monospace !important; margin: 0px; padding: 20px; border-radius: 0px; border: currentColor; border-image: none; color: rgb(34, 34, 34); font-size-adjust: none !important; font-stretch: normal !important; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.zt-code3 {
	font: 0.92em/32px "Curier New", monospace !important; margin: 0px; padding: 20px; border-radius: 0px; border: currentColor; border-image: none; color: rgb(34, 34, 34); font-size-adjust: none !important; font-stretch: normal !important; -webkit-border-radius: 0; -moz-border-radius: 0;
}
pre {
	background: rgb(211, 217, 245);
}
.zt-code1 {
	background: rgb(211, 217, 245);
}
.zt-code2 {
	background: rgb(214, 237, 213);
}
.zt-code3 {
	border: 1px solid rgb(238, 238, 238); border-image: none; color: rgb(54, 54, 54); padding-left: 82px !important; background-color: rgb(254, 254, 254);
}
.zt-code3 h4 {
	background: 0px 0px rgb(168, 180, 239); margin: 0px 0px 0px -64px !important; padding: 3px 10px; top: 0px; width: 55px; text-align: center; color: rgb(255, 255, 255); position: relative;
}
.zt-highlight1 {
	padding: 1px 5px; cursor: default; text-shadow: none;
}
.zt-highlight2 {
	padding: 1px 5px; cursor: default; text-shadow: none;
}
.zt-highlight3 {
	padding: 1px 5px; cursor: default; text-shadow: none;
}
.zt-highlight4 {
	padding: 1px 5px; cursor: default; text-shadow: none;
}
.zt-highlight1 {
	background: rgb(229, 229, 229); color: rgb(47, 47, 47);
}
.zt-highlight2 {
	background: rgb(127, 178, 255); color: rgb(255, 255, 255);
}
.zt-highlight3 {
	background: rgb(255, 127, 127); color: rgb(255, 255, 255);
}
.zt-highlight4 {
	background: rgb(255, 228, 0); color: rgb(47, 47, 47);
}
[class^='zt-icon-'] li {
	list-style: none; font-style: normal; font-weight: normal; text-decoration: inherit; -webkit-font-smoothing: antialiased;
}
[class*=' zt-icon-'] li {
	list-style: none; font-style: normal; font-weight: normal; text-decoration: inherit; -webkit-font-smoothing: antialiased;
}
[class^='zt-icon-'] li::before {
	font-family: FontAwesome; text-decoration: inherit; margin-right: 5px; display: inline-block; speak: none;
}
[class*=' zt-icon-'] li::before {
	font-family: FontAwesome; text-decoration: inherit; margin-right: 5px; display: inline-block; speak: none;
}
.zt-icon-angle-left li::before {
	content: "\f104";
}
.zt-icon-angle-right li::before {
	content: "\f105";
}
.zt-icon-angle-up li::before {
	content: "\f106";
}
.zt-icon-angle-down li::before {
	content: "\f107";
}
.zt-icon-arrow-left li::before {
	content: "\f060";
}
.zt-icon-arrow-right li::before {
	content: "\f061";
}
.zt-icon-arrow-up li::before {
	content: "\f062";
}
.zt-icon-arrow-down li::before {
	content: "\f063";
}
.zt-icon-caret-down li::before {
	content: "\f0d7";
}
.zt-icon-caret-up li::before {
	content: "\f0d8";
}
.zt-icon-caret-left li::before {
	content: "\f0d9";
}
.zt-icon-caret-right li::before {
	content: "\f0da";
}
.zt-icon-chevron-up li::before {
	content: "\f077";
}
.zt-icon-chevron-down li::before {
	content: "\f078";
}
.zt-icon-chevron-left li::before {
	content: "\f053";
}
.zt-icon-chevron-right li::before {
	content: "\f054";
}
.zt-icon-chevron-sign-left li::before {
	content: "\f137";
}
.zt-icon-chevron-sign-right li::before {
	content: "\f138";
}
.zt-icon-chevron-sign-up li::before {
	content: "\f139";
}
.zt-icon-chevron-sign-down li::before {
	content: "\f13a";
}
.zt-icon-circle-arrow-left li::before {
	content: "\f0a8";
}
.zt-icon-circle-arrow-right li::before {
	content: "\f0a9";
}
.zt-icon-circle-arrow-up li::before {
	content: "\f0aa";
}
.zt-icon-circle-arrow-down li::before {
	content: "\f0ab";
}
.zt-icon-double-angle-left li::before {
	content: "\f100";
}
.zt-icon-double-angle-right li::before {
	content: "\f101";
}
.zt-icon-double-angle-up li::before {
	content: "\f102";
}
.zt-icon-double-angle-down li::before {
	content: "\f103";
}
.zt-icon-hand-right li::before {
	content: "\f0a4";
}
.zt-icon-hand-left li::before {
	content: "\f0a5";
}
.zt-icon-hand-up li::before {
	content: "\f0a6";
}
.zt-icon-hand-down li::before {
	content: "\f0a7";
}
.zt-icon-long-arrow-down li::before {
	content: "\f175";
}
.zt-icon-long-arrow-up li::before {
	content: "\f176";
}
.zt-icon-long-arrow-left li::before {
	content: "\f177";
}
.zt-icon-long-arrow-right li::before {
	content: "\f178";
}
.zt-typo-inside blockquote {
	margin: 20px 0px; border: currentColor; border-image: none; font-style: italic;
}
.zt-typo-inside blockquote p {
	font-size: 100%;
}
.zt-typo-inside blockquote small::before {
	content: "";
}
.zt-typo-inside blockquote div {
	display: block;
}
.zt-typo-inside blockquote div.zt-blockquote1 {
	background: url("../images/open1.png") no-repeat left bottom;
}
.zt-typo-inside blockquote div.zt-blockquote1 div {
	background: url("../images/close1.png") no-repeat right top; padding: 0px 22px;
}
.zt-typo-inside blockquote div.zt-blockquote2 {
	background: url("../images/open1.png") no-repeat left top;
}
.zt-typo-inside blockquote div.zt-blockquote2 div {
	background: url("../images/close1.png") no-repeat right top; padding: 0px 22px;
}
.zt-typo-inside blockquote div.zt-blockquote3 {
	background: url("../images/open2.png") no-repeat left bottom; padding-bottom: 1px;
}
.zt-typo-inside blockquote div.zt-blockquote3 div {
	background: url("../images/close2.png") no-repeat right top; padding: 5px 48px 0px;
}
.zt-typo-inside blockquote div.zt-blockquote4 {
	background: url("../images/open2.png") no-repeat left top;
}
.zt-typo-inside blockquote div.zt-blockquote4 div {
	background: url("../images/close2.png") no-repeat right top; padding: 0px 48px;
}
.zt-box-info {
	padding: 15px; color: rgb(53, 53, 53); text-shadow: 0px 1px 0px rgba(255,255,255,0.99);
}
.zt-box-warning {
	padding: 15px; color: rgb(53, 53, 53); text-shadow: 0px 1px 0px rgba(255,255,255,0.99);
}
.zt-box-stickynote {
	padding: 15px; color: rgb(53, 53, 53); text-shadow: 0px 1px 0px rgba(255,255,255,0.99);
}
.zt-box-upload {
	padding: 15px; color: rgb(53, 53, 53); text-shadow: 0px 1px 0px rgba(255,255,255,0.99);
}
.zt-box-download {
	padding: 15px; color: rgb(53, 53, 53); text-shadow: 0px 1px 0px rgba(255,255,255,0.99);
}
.zt-box-info::before {
	font-family: FontAwesome; font-size: 150%; text-decoration: inherit; margin-right: 10px; display: inline-block; speak: none;
}
.zt-box-warning::before {
	font-family: FontAwesome; font-size: 150%; text-decoration: inherit; margin-right: 10px; display: inline-block; speak: none;
}
.zt-box-stickynote::before {
	font-family: FontAwesome; font-size: 150%; text-decoration: inherit; margin-right: 10px; display: inline-block; speak: none;
}
.zt-box-upload::before {
	font-family: FontAwesome; font-size: 150%; text-decoration: inherit; margin-right: 10px; display: inline-block; speak: none;
}
.zt-box-download::before {
	font-family: FontAwesome; font-size: 150%; text-decoration: inherit; margin-right: 10px; display: inline-block; speak: none;
}
.zt-box-info::before {
	content: "\f129";
}
.zt-box-warning::before {
	content: "\f071";
}
.zt-box-stickynote::before {
	content: "\f0eb";
}
.zt-box-upload::before {
	content: "\f093";
}
.zt-box-download::before {
	content: "\f019";
}
.zt-box-info {
	background: rgb(229, 244, 249);
}
.zt-box-warning {
	background: rgb(248, 231, 229);
}
.zt-box-stickynote {
	background: rgb(246, 242, 225);
}
.zt-box-upload {
	background: rgb(228, 247, 211);
}
.zt-box-download {
	background: rgb(231, 235, 251);
}
div#carousel-Gallery {
	margin: 0px !important; height: auto !important;
}
div#carousel-Gallery > a {
	background: none;
}
div#carousel-Gallery div.carousel-caption {
	display: none;
}
div.wrap_carousel > div {
	height: auto !important;
}
/*.modal {
	z-index: 9999;
}
div.modal-content div.modal-header {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
div.modal-content div.modal-footer {
	margin: 0px; padding: 0px; border: currentColor; border-image: none;
}
div.modal-content div.modal-body img {
	padding: 0px; border: currentColor; border-image: none;
}*/
body {
	line-height: 20px; -ms-overflow-x: hidden;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
html {
	font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
p {
	margin: 12px 0px;
}

/*.modal-body {
	padding: 10px;
}
body.modal-open {
	margin-right: 0px; -ms-overflow-x: hidden; -ms-overflow-y: scroll;
}*/

body.body-overlayed.form {
	overflow: inherit;
}
.full-width .col-md-12 {
	padding: 0px;
}
.full-width .row {
	margin: 0px;
}
#zo2-features {
	text-align: center;
}
#zo2-features .top-features {
	padding-top: 50px;
}
#zo2-features .top-features .zo2-feature {
	color: rgb(49, 49, 49); margin-top: 35px; position: relative; background-color: rgb(255, 255, 255);
}
#zo2-features .top-features .zo2-feature .zo2-circle {
	border-radius: 50%; border: 5px solid rgb(239, 239, 239); transition:background-color 0.25s, color 0.25s; border-image: none; left: 44%; top: -36px; width: 110px; height: 110px; text-align: center; color: rgb(127, 190, 84); line-height: 110px; font-size: 50px; margin-left: -35px; position: absolute; text-shadow: 0px 3px 0px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255); -webkit-transition: background-color 0.25s ease, color 0.25s ease;
}
#zo2-features .top-features .zo2-feature .zo2-circle::before {
	padding: 5px; border-radius: 50%; transition:0.25s; left: -10px; top: -10px; width: 120px; height: 120px; display: block; position: absolute; content: ""; opacity: 0; box-shadow: 0px 0px 0px 3px #7fbe54; transform: scale(0.8); -webkit-transition: all 0.25s ease;
}
#zo2-features .top-features .zo2-feature .zo2-circle i {
	line-height: inherit; vertical-align: top;
}
#zo2-features .top-features .zo2-feature .zo2-feature-text {
	padding: 90px 10% 30px; text-align: center;
}
#zo2-features .top-features .zo2-feature .zo2-feature-text .zo2-feature-text-title {
	text-transform: uppercase; font-size: 20px; font-weight: bold;
}
#zo2-features .top-features .zo2-feature .zo2-feature-text .zo2-feature-description {
	font-size: 14px;
}
#zo2-features .top-features .zo2-feature .zo2-feature-text .zo2-feature-description p {
	margin-bottom: 20px;
}
#zo2-features .top-features:hover .zo2-circle {
	border: 5px solid transparent; border-image: none; color: rgb(255, 255, 255); background-color: rgb(127, 190, 84);
}
#zo2-features .top-features:hover .zo2-circle::before {
	opacity: 1; transform: scale(1);
}
.logo_retina {
	display: none;
}
#zo2-header-top {
	color: rgb(223, 223, 223); background-color: #395ba9;
}
#zo2-header-top .container {
	padding: 0px;
}
#zo2-header-top #top-search {
	padding: 0px;
}
#zo2-header-top #top-social div.module {
	float: right;
}
#zo2-header-top #top-social div.zo2-social-inner {
	float: right;
}
.top-menu ul {
	margin: 0px;
}
.top-search div.search {
	float: right;
}
#zo2-header > .container > .row {
	 background: url(../images/blg.jpg); border-width: 0px 1px; border-style: solid; border-color: rgb(212, 215, 219); padding-top: 5px; padding-bottom: 5px; padding-left: 5px;
}
#zo2-header #header_logo .logo_normal {
	margin: 0px 0px 0px 5px;
}
#zo2-header div.banneritem {
	text-align: right;
}
#zo2-header div.banneritem img {
	margin: 0px 5px 0px 0px;
}
#menu {
	margin: 0px 0px 20px; position: relative; z-index: 999;
}
#main-menu {
	padding: 0px;
}
#zo2_slideshow {
	padding: 0px; color: rgb(163, 163, 164);
}
#zo2_slideshow #slideshow {
	background: rgb(60, 61, 65); padding: 5px;width:100% !important;
}
#zo2-tab {
	margin: 0px; padding: 0px 0px 0px 25px;
}
#lastest-news {
	margin: 20px 0px;
}
#lastest-new {
	padding: 13px 15px 25px;
}
#lastest-new h3.moduletitle {
	margin: 0px 0px 10px;
}
#mainframe {
	padding: 20px 0px 0 0;
}
#mainframe > .container {
	padding: 0px;
}
div.latestView div.row-block {
	overflow: hidden; margin-bottom: 15px;
}
div.latestView div.latestItemsContainer {
	background: rgb(255, 255, 255); padding: 15px;
}
div.latestView div.col-xs-6.latestItemsContainer {
	width: 49%;
}
div.latestView div.item-1.latestItemsContainer {
	margin: 0px 2% 0px 0px;
}
#right h3.moduletitle {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(214, 217, 222); margin: 10px 0px; padding: 0px 0px 10px 10px;
}
#right div.module {
	background: rgb(255, 255, 255); margin: 0px 0px 12px;
}
#right div.banner.module {
	background: rgb(225, 228, 233); padding: 5px;
}
#right div.nospace.banner.module {
	margin: 0px;
}
#left div.module {
	background: rgb(255, 255, 255); margin: 0px 0px 12px;
}
#left div.mod-content {
	padding: 5px;
}
#left ul.menu li {
	display: block;
}
#left ul.menu li > a {
	padding: 0px 0px 0px 15px; line-height: 30px; display: block;
}
#left ul.menu li:hover > a {
	background: rgb(221, 221, 221); text-decoration: none;
}
#left ul.menu li.active > a {
	background: rgb(221, 221, 221); text-decoration: none;
}
#left ul.menu li:focus > a {
	background: rgb(221, 221, 221); text-decoration: none;
}
#user-header {
	padding: 0px 0px 20px;
}
#user-bottom {
	padding: 0px;
}
#user-bottom .container {
	padding: 0px;
}
#user-header .container {
	padding: 0px;
}
#user-bottom div.mod-wrapper {
	background: rgb(255, 255, 255);
}
#user-header div.mod-wrapper {
	background: rgb(255, 255, 255);
}
#user-bottom div.mod-wrapper div.mod-content {
	padding: 5px 15px 15px;
}
#user-header div.mod-wrapper div.mod-content {
	padding: 5px 15px 15px;
}
#scroller {
	margin: 0px 0px; overflow: hidden;
}
#scroller > .container {
	padding: 0px;
}
#breadcrumb {
	background: none; margin: 20px 0px 0px; padding: 0px; border-radius: 0px; border: currentColor; border-image: none;
}
#breadcrumb .container {
	padding: 0px;
}
#menu-news {
	background: #375aa8; line-height: 45px;
}
#menu-news .container {
	padding: 0px;
}
#bottom {
	background: url("../images/bg-bottom.png") #3458a8; border-width: 1px 0px; border-style: solid; border-color: #2B4B91; padding: 20px 0px; color: rgb(163, 163, 164);
}
#bottom .container {
	padding: 0px;
}
#bottom h3.moduletitle {
	color: rgb(255, 255, 255);
}
#bottom div.banner-bottom {
	margin: 5px 0px 0px;
}
#bottom a {
	color: rgb(255, 255, 255);
}
#zo2-footer {
	background: #113a97; padding: 0px 0px; color: rgb(158, 158, 158);
}
#zo2-footer .container {
	padding: 0px;
}
#zo2-footer a {
	color: rgb(255, 255, 255);
}
div.footer-logo-inner {
	text-align: center;
}
.copyright {
	padding: 7px 0px;
}
div.latestItemHeader a::before {
	margin: 0px 7px 0px 0px; color: rgb(255, 96, 10); font-family: FontAwesome; display: inline-block;
}
.home #component {
	background: none; padding: 0px; border: currentColor; border-image: none;
}

#backttucss{
	border-width: 1px 1px 4px !important;
border-style: solid!important;
border-color: rgb(214, 217, 222)!important;
background: rgb(255, 255, 255)!important;
padding: 15px 0px!important;
}
#component {
	background: rgb(255, 255, 255); padding: 15px 0px;
}
#component h3.moduletitle {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(214, 217, 222); margin: 10px 0px; padding: 0px 0px 10px 10px;
}
div.component-inner {
	padding: 0px 15px;
}
.componentheading {
	margin: 0px 0px 20px; padding: 0px 0px 15px 15px; text-transform: uppercase; line-height: 100%; border-bottom-color: rgb(233, 235, 237); border-bottom-width: 1px; border-bottom-style: solid;
}
.none-bg #component {
	background: none; padding: 0px; border: currentColor; border-image: none;
}
#zo2-bottom1 {
	color: rgb(255, 255, 255); background-color: rgb(42, 42, 42);
}
#zo2-bottom1 .container {
	padding-top: 50px; padding-bottom: 50px; border-bottom-color: rgb(64, 65, 65); border-bottom-width: 1px; border-bottom-style: solid;
}
#zo2-bottom1 .zo2-mail {
	border: 1px solid rgb(76, 76, 76); border-image: none; height: 35px; color: rgb(137, 137, 137); line-height: 35px;
}
#zo2-bottom1 .zo2-mail input {
	background: none; border: currentColor; border-image: none; width: 80%; color: rgb(137, 137, 137); line-height: 2;
}
#zo2-bottom1 .zo2-mail i {
	padding-right: 10px; padding-left: 10px;
}
#zo2-bottom1 .btn {
	padding: 0px; border-radius: 0px; border: 1px solid rgb(76, 76, 76); transition:0.4s; border-image: none; height: 35px; color: rgb(137, 137, 137); line-height: 35px; background-color: transparent; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -webkit-border-radius: 0; -moz-border-radius: 0;
}
#zo2-bottom1 .btn:hover {
	box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
#zo2-bottom1 .btn:active {
	box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
#zo2-bottom1 .btn:focus {
	box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
#zo2-bottom1 .no-line h3 {
	margin: 0px;
}
#zo2-bottom2 {
	padding: 50px 0px; color: rgb(255, 255, 255); background-color: rgb(42, 42, 42);
}
#zo2-bottom2 a {
	color: rgb(255, 255, 255);
}
#zo2-bottom2 p {
	color: rgb(171, 171, 171); font-size: 13px;
}
#zo2-bottom2 address {
	line-height: 1.5; font-size: 14px;
}
#zo2-bottom2 address i {
	padding-right: 15px;
}
#zo2-bottom2 .lightbox-modal img {
	margin-bottom: 5px;
}
.social {
	margin-top: 10px;
}
.social a {
	margin: 0px 5px; border-radius: 3px; transition:200ms; width: 37px; height: 37px; color: rgb(141, 141, 141); display: inline-block; -webkit-transition: all 200ms ease 0s; -moz-transition: all 200ms ease 0s; -o-transition: all 200ms ease 0s; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.social a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.social a i {
	width: 37px; height: 37px; text-align: center; line-height: 37px; font-size: 150%; vertical-align: top; display: inline-block;
}
.social a.facebook:hover {
	background-color: rgb(37, 104, 188);
}
.social a.twitter:hover {
	background-color: rgb(35, 216, 232);
}
.social a.google-plus:hover {
	background-color: rgb(72, 72, 72);
}
.social a.rss:hover {
	background-color: rgb(254, 134, 49);
}
.social a.linkedin:hover {
	background-color: rgb(2, 123, 165);
}
.social a.youtube:hover {
	background-color: rgb(214, 86, 85);
}
.social a.pinterest:hover {
	background-color: rgb(204, 28, 44);
}
.footer-social.social a {
	background-color: rgb(57, 57, 57);
}
#news {
	margin: 50px 0px 120px;
}
#news .mod-news img {
	padding-right: 30px; float: left; max-width: 100%;
}
#news .custom.mod-news h3 {
	color: rgb(44, 44, 44); font-size: 18px;
}
.latest-news li {
	list-style: none; padding-bottom: 10px;
}
.latest-news .thumb {
	border: 3px solid rgb(39, 39, 39); transition:0.2s ease-in; border-image: none; width: 82px; float: left; display: block; -webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; -o-transition: all 0.2s ease-in 0s;
}
.latest-news .desc {
	margin-left: 100px;
}
.latest-news .title {
	display: block;
}
.latest-news .time {
	color: rgb(137, 137, 137); font-size: 11px; display: block;
}
.gmap-page .embed-container {
	padding-bottom: 0px;
}
#gototop {
	padding: 12px 14px; border-radius: 50%; transition:0.2s ease-in-out; width: 50px; height: 50px; right: 30px; bottom: 10px; position: fixed; z-index: 100; background-color: rgba(0, 0, 0, 0.2); -webkit-transition: all 0.2s ease-in-out 0s; -moz-transition: all 0.2s ease-in-out 0s; -o-transition: all 0.2s ease-in-out 0s; -webkit-border-radius: 50%; -moz-border-radius: 50%;
}
#gototop:hover {
	background-color: #dc1b21;
}
#gototop i {
	color: rgb(255, 255, 255); line-height: 24px; font-size: 24px;
}
.box-color {
	background: rgb(127, 190, 84); padding: 20px; color: rgb(170, 170, 170);
}
.box-color h3.moduletitle {
	background: none; color: rgb(255, 255, 255); padding-bottom: 0px; font-size: 200%; font-weight: 300;
}
.box-color ul.weblinks li {
	width: 100%; border-bottom-color: rgb(96, 143, 64); border-bottom-width: 1px; border-bottom-style: solid;
}
.box-color ul.menu li {
	width: 100%; border-bottom-color: rgb(96, 143, 64); border-bottom-width: 1px; border-bottom-style: solid;
}
.box-color ul.weblinks li a {
	background: none; padding: 10px 0px;
}
.box-color ul.menu li a {
	background: none; padding: 10px 0px;
}
.box-color ul.weblinks li a:hover {
	background: none;
}
.box-color ul.weblinks li a:active {
	background: none;
}
.box-color ul.weblinks li a:focus {
	background: none;
}
.box-color ul.menu li a:hover {
	background: none;
}
.box-color ul.menu li a:active {
	background: none;
}
.box-color ul.menu li a:focus {
	background: none;
}
.box-color ul.weblinks li:hover a {
	transition:0.3s linear; margin-left: 10px; -webkit-transition: all linear .3s; -moz-transition: all linear .3s; -o-transition: all linear .3s;
}
.box-color ul.menu li:hover a {
	transition:0.3s linear; margin-left: 10px; -webkit-transition: all linear .3s; -moz-transition: all linear .3s; -o-transition: all linear .3s;
}
.box-color ul.weblinks li.active a {
	transition:0.3s linear; margin-left: 10px; -webkit-transition: all linear .3s; -moz-transition: all linear .3s; -o-transition: all linear .3s;
}
.box-color ul.menu li.active a {
	transition:0.3s linear; margin-left: 10px; -webkit-transition: all linear .3s; -moz-transition: all linear .3s; -o-transition: all linear .3s;
}
.box-color ul.weblinks li a {
	color: rgb(255, 255, 255) !important;
}
.box-color ul.menu li a {
	color: rgb(255, 255, 255) !important;
}
.homepage .zo2-social-wrap {
	text-align: center; margin-top: 20px;
}
#zo2comment-tabs .embed-container {
	padding-bottom: 0px;
}
.btn-success {
	padding: 10px 15px; border-radius: 3px; border: currentColor; transition:0.4s; border-image: none; background-color: rgb(126, 190, 84); -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.btn-success:hover {
	box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
.btn-success:active {
	box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
.btn-success:focus {
	box-shadow: inset 0px 0px 0px 26px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 0 0 26px rgba(0, 0, 0, 0.1) inset;
}
.carousel-caption {
	top: 20%; text-align: left; color: rgb(255, 255, 255); font-weight: 300;
}
.carousel-caption h3 {
	color: rgb(255, 255, 255); font-size: 40px;
}
.carousel-caption p {
	font-size: 16px;
}
.bs-example {
	margin: 15px 0px;
}
#k2Container span.itemEditLink {
	width: inherit;
}
#k2Container span.itemEditLink a {
	display: block; position: static;
}
.ie8 body {
	overflow: inherit;
}
.ie8 .catItemImage {
	width: 37%; display: block;
}
.ie8 .groupPrimary .catItemImage {
	width: 25%;
}
.ie8 div.itemImage {
	width: 40%; text-align: left;
}
.ie8 .rtl div.itemImage {
	text-align: right;
}
.ie8 .rtl .zt-timeline-item {
	text-align: right;
}
.zo2-socialshares-floatbar {
	background: rgb(255, 255, 255); font: 10px/16px Arial; padding: 5px; border-radius: 5px; border: 1px solid rgb(187, 187, 187); border-image: none; top: 195px; width: 70px; text-align: center; margin-left: -100px; position: fixed; z-index: 999; min-width: 55px; font-size-adjust: none; font-stretch: normal; box-shadow: 1px 0px 15px rgba(0,0,0,0.2); -webkit-box-shadow: 1px 0 15px rgba(0, 0, 0, 0.2); -webkit-border-radius: 5px; -moz-border-radius: 5px; -moz-box-shadow: 1px 0 15px rgba(0, 0, 0, 0.2);
}
.zo2-socialshares-horizontal {
	margin: 10px 0px; float: left;
}
.zo2-socialshares-horizontal > div {
	margin: 0px 10px; float: left; display: inline-block;
}
ul.menu2 li {
	line-height: 25px;
}

.textlight{
	text-align: justify;
}
.linebuttom{
	color: red;
	font-size: 14px;
	
}

.widthimgtt{
	width: 80px;
	height: 55px;
}

.backkmai{
	 background: url(../images/sale.png) no-repeat #0072bb;
	  height: 43px;
	  margin: 0 0 10px 0 !important;
}

.imgthuvien1{
	width:236px !important;
	height: 150px !important;
}