﻿@{
    ViewBag.Title = "Contact SMK";
    ViewBag.Message = "Demo base on ASP.NET MVC5, WebAPI2, AngularJS";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    09 My Da Tay 9<br />
    Ngu  Hanh Son, Da Nang<br />
    <abbr title="Phone">P:</abbr>
    905 746 810
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hotankhoa.qn@gmail.com">SMK</a><br />
</address>