﻿
<div ng-controller="DemoController">
<br/>
<form class="form-horizontal">
  <div class="form-group">
    <label for="url" class="col-sm-2 control-label">Anonymous Users retrieve beers</label>
  </div>
  <div class="form-group">
    <label for="url" class="col-sm-2 control-label">Url</label>
    <div class="col-sm-10">
      <input type="url" class="form-control" id="url" value="/api/beer/GetAllBeer" placeholder="url">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" ng-click="showBeers()" class="btn btn-default">Call</button>
    </div>
  </div>
    <div class="form-group">
	<label class="col-sm-2 control-label">({{beers.length}}) results</label>
    <div class="col-sm-offset-2 col-sm-10">	
     		<table class="table">
			<thead>
				<tr class="row">
					<td><b>Name</b></td>
					<td><b>Category</b></td>
					<td><b>Description</b></td>
				</tr>
			</thead>
			<tbody>
			<tr class="row" ng-repeat="beer in beers">
				<td class="td">{{beer.Name}}</td>
				<td class="td">{{beer.Category}}</td>
				<td class="td">{{beer.Description}}</td>
			
			</tr>
			</tbody>
		</table>	  
    </div>
  </div>
  
</form>

<script>

var myApp = angular.module('myApp',[]);
	myApp.controller('DemoController', ['$scope', function($scope) {
		$scope.beers = [];
		$scope.showBeers=function(){
			$.ajax({
                type: "GET",
                url: $('#url').val(),
                async: false,
                success: function (result) {
                   $scope.beers = result;
                },
                error: function () { },
                beforeSend: function () { },
                complete: function () { }
            });
		}
	}]);
</script>